Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

next action update
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: default to conversation partner for slack request modal
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

update permissions for owner
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic.yaml
Owners: @heikir, @Gregoor

fix: show invite button for existing users
  backend/src/events/events.ts
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: default to conversation partner for slack request modal
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: slack modal and copy fixes
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  frontend/src/views/SettingsView/SlackSettings.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: fix playwright test copy and add e2e folder to workspace
  acapela.code-workspace
  e2e/message.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: show invite button for existing users (#632)
  backend/src/events/events.ts
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: add enter shortcut for creating a team
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix playwright test copy and add e2e folder to workspace
  acapela.code-workspace
  e2e/message.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove duplicated shortcut tip
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: copy changes on the conversation page and message feed
  frontend/src/message/composer/MessageContentComposer.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: add secondary color and change unread message counter color to be more visible
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  ui/icons/CircleLabel.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: change copy on the new request page
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: copy changes on the settings page and add tean owner tag
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/team/TeamMembersManager/TeamMemberBasicInfo.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/TeamManager/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: slack exceptions
  backend/src/messages/events.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: move events to correct folders
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/message/feed/TopicEventFeedItem.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/TopicEventTemplate.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move more files to event
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove topic closure message
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add segment key to backend .env
  infrastructure/kubernetes/api/production/default.env
Owners: @christophwitzko

fix: use non-rich message for topic title
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  richEditor/content/plainText.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: use non-rich message for topic title (#634)
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  richEditor/content/plainText.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: include all created and not closed requests in the Sent category
  .prettierrc.js
  .prettierrc.yaml
  acapela.code-workspace
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: include all created and not closed requests in the Sent category
  .prettierrc.js
  .prettierrc.yaml
  acapela.code-workspace
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: do not create duplicate slack invites for channel members
  backend/src/slack/request-modal/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: do not create duplicate slack invites for channel members
  backend/src/slack/request-modal/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

ci: upload e2e test logs
  .github/workflows/ci.yaml
  backend/start-ci.sh
  frontend/start-ci.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

ci: more logging
  backend/start-ci.sh
  frontend/start-ci.sh
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

ci: add ssh debug action
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: wait until frontend is running
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: disable ssh debug action
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: slack dashboard
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/setup.ts
  backend/src/slack/utils.ts
  shared/slack/clone-manifest-cli.ts
  shared/slack/manifest.json
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

ci: cause oom
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: rename NextAction to NextSuggestedAction
  frontend/src/views/RequestView/TopicWithMessages/NextSuggestedAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: rename to SuggestedAction
  frontend/src/views/RequestView/TopicWithMessages/SuggestedAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: bump topics on slack dashboard to 10
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: bump prisma
  db/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: slack dashboard (#637)
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/setup.ts
  backend/src/slack/utils.ts
  shared/slack/clone-manifest-cli.ts
  shared/slack/manifest.json
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: bump prisma (#638)
  db/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: use a more generic prop for RequiredSessionProvider
  frontend/pages/_app.tsx
  frontend/src/auth/RequiredSessionProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
