Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: post message action requests into threads (#663)
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: swap out axios with fetch and use backend proxy url
  frontend/src/clientdb/ClientDbProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: add frontend helper function to track events using backend proxy
  frontend/src/analytics/tracking.ts
  frontend/src/clientdb/ClientDbProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add generic tracking endpoint
  backend/src/app.ts
  backend/src/attachments/router.ts
  backend/src/tracking/tracking.ts
  backend/src/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: add frontend helper function to track events using backend proxy
  frontend/src/analytics/tracking.ts
  frontend/src/clientdb/ClientDbProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: swap out axios with fetch and use backend proxy url
  frontend/src/clientdb/ClientDbProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add generic tracking endpoint
  backend/src/app.ts
  backend/src/attachments/router.ts
  backend/src/tracking/tracking.ts
  backend/src/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: track initial app load on the backend and fix style errors in the event definitions
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/tracking/tracking.ts
  frontend/src/clientdb/ClientDbProvider.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add message task due date table
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1636472719327_message-task-due-date/down.sql
  infrastructure/hasura/migrations/default/1636472719327_message-task-due-date/up.sql
Owners: @heikir, @Gregoor

feat: clientdb/messageTaskDueDate entity
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/messageTaskDueDate.tsx
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: get due date from task entity
  frontend/src/clientdb/task.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: get and set message due date
  frontend/src/clientdb/message.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: set due date from message
  frontend/src/tasks/TaskDueDateSetter.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: perform batched saves instead of reusing shared indexeddb transaction
  clientdb/entity/db/adapter.ts
  clientdb/entity/persistance.ts
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: type fixes
  clientdb/tests/testUtils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: perform batched saves instead of reusing shared indexeddb transaction (#664)
  clientdb/entity/db/adapter.ts
  clientdb/entity/persistance.ts
  clientdb/tests/testUtils.ts
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: replace task.due_at with message_task_due_date in backend
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/slack/home-tab.ts
  backend/src/tasks/messageTaskDueDateHandler.ts
  backend/src/tasks/taskHandlers.ts
  db/index.ts
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: trigger updated_at udpate in message_task_due_date
  infrastructure/hasura/migrations/default/1636490540064_trigger_update_at_message_task_due_date/down.sql
  infrastructure/hasura/migrations/default/1636490540064_trigger_update_at_message_task_due_date/up.sql
Owners: @heikir, @Gregoor

feat: move all due date to message_task_due_date
  frontend/src/clientdb/task.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
  ui/time/Calendar/MonthDays/Week/Day.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

infra: migration due date data
  infrastructure/hasura/migrations/default/1636495540541_migrate_due_date/down.sql
  infrastructure/hasura/migrations/default/1636495540541_migrate_due_date/up.sql
Owners: @heikir, @Gregoor

infra: drop due date column
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  infrastructure/hasura/migrations/default/1636495732777_alter_table_public_task_drop_column_due_at/down.sql
  infrastructure/hasura/migrations/default/1636495732777_alter_table_public_task_drop_column_due_at/up.sql
Owners: @heikir, @Gregoor

infra: squash migrations
  infrastructure/hasura/migrations/default/1636472719327_message-task-due-date/up.sql
  infrastructure/hasura/migrations/default/1636490540064_trigger_update_at_message_task_due_date/down.sql
  infrastructure/hasura/migrations/default/1636490540064_trigger_update_at_message_task_due_date/up.sql
  infrastructure/hasura/migrations/default/1636495540541_migrate_due_date/down.sql
  infrastructure/hasura/migrations/default/1636495540541_migrate_due_date/up.sql
  infrastructure/hasura/migrations/default/1636495732777_alter_table_public_task_drop_column_due_at/down.sql
  infrastructure/hasura/migrations/default/1636495732777_alter_table_public_task_drop_column_due_at/up.sql
  infrastructure/hasura/migrations/default/1636495732777_message-task-table/down.sql
  infrastructure/hasura/migrations/default/1636495732777_message-task-table/up.sql
Owners: @heikir, @Gregoor

fix: grant topic owners permission to tasks
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  infrastructure/hasura/migrations/default/1636526997687_task_unique_message_user/down.sql
  infrastructure/hasura/migrations/default/1636526997687_task_unique_message_user/up.sql
Owners: @heikir, @Gregoor

fix: let every topic member update every task
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
Owners: @heikir, @Gregoor

fix: grant topic owners permission to tasks (#666)
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  infrastructure/hasura/migrations/default/1636526997687_task_unique_message_user/down.sql
  infrastructure/hasura/migrations/default/1636526997687_task_unique_message_user/up.sql
Owners: @heikir, @Gregoor

chore: styled warnings
  ui/buttons/TextButton.tsx
  ui/forms/OptionsDropdown/ItemsDropdown.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: RefObject from React
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: topic preview flickering
  richEditor/Theme.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: update comment
  richEditor/Theme.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: Aca 895 topic preview flickering (#667)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  richEditor/Theme.tsx
  ui/buttons/TextButton.tsx
  ui/forms/OptionsDropdown/ItemsDropdown.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: ask for due date in slack request flow
  backend/src/slack/actions.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
  shared/dates/times.ts
  shared/dates/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: ask for due date in slack request flow (#668)
  backend/src/slack/actions.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
  shared/dates/times.ts
  shared/dates/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: show email recovery input after oauth account link error (#661)
  backend/src/app.ts
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/inviteUser/utils.ts
  frontend/pages/auth/error.tsx
  frontend/src/views/ErrorView/index.tsx
  ui/forms/TextInput.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: check for undefined emails when finding users through slack
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: check for undefined emails when finding users through slack (#669)
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: disable slack installation button while install URL is still loading
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: update copy of done buttons
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: disable slack installation button while install URL is still loading (#670)
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: give message preview on complete button hover
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Aca 859 marking things as done flow copy (#671)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
