Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: add message preview on topic hover
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  frontend/src/message/extensions/mentions/TypedMention.tsx
  ui/theme/box.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: various tries to recover from indexeddb failure
  clientdb/entity/db/adapter.ts
  clientdb/index.ts
  frontend/src/apollo/client.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/indexeddb/adapter.ts
  frontend/src/message/extensions/emoji.tsx
  frontend/src/team/CurrentTeam.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  shared/hooks/useAsyncEffect.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix tests
  clientdb/tests/testUtils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: another try to avoid connections conflicts
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: live messages
  README.md
  backend/package.json
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/.gitignore
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/app.ts
  backend/src/slack/blocks/index.ts
  backend/src/slack/clone-manifest-cli.ts
  backend/src/slack/commands.ts
  backend/src/slack/install.ts
  backend/src/slack/manifest.json
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/setup.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/utils.ts
  backend/src/slack/views.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  infrastructure/hasura/metadata/cron_triggers.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_slack_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635266098741_create_table_public_topic_slack_message/down.sql
  infrastructure/hasura/migrations/default/1635266098741_create_table_public_topic_slack_message/up.sql
  richEditor/content/plainText.ts
  shared/object.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: lowercase invite emails
  backend/src/inviteUser/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: lowercase invite emails (#614)
  backend/src/inviteUser/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: fixed useAsyncEffect
  frontend/src/clientdb/index.tsx
  shared/hooks/useAsyncEffect.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: handle case if 2 opened tabs are blocking each other idb version change
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: task message preview on hover (#611)
  frontend/src/clientdb/lastSeenMessage.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/message/feed/MessageLikeContent.tsx
  shared/types/mention.ts
  ui/theme/box.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: various tries to recover from indexeddb failure (#612)
  clientdb/entity/db/adapter.ts
  clientdb/index.ts
  clientdb/tests/testUtils.ts
  frontend/src/apollo/client.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/indexeddb/adapter.ts
  frontend/src/message/extensions/emoji.tsx
  frontend/src/team/CurrentTeam.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  shared/hooks/useAsyncEffect.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: use single event table for topics
  infrastructure/hasura/metadata/cron_triggers.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635513987980_alter_table_public_topic_event_add_column_user_id/down.sql
  infrastructure/hasura/migrations/default/1635513987980_alter_table_public_topic_event_add_column_user_id/up.sql
  infrastructure/hasura/migrations/default/1635514037060_alter_table_public_topic_event_drop_column_type/down.sql
  infrastructure/hasura/migrations/default/1635514037060_alter_table_public_topic_event_drop_column_type/up.sql
  infrastructure/hasura/migrations/default/1635758449088_drop_table_public_topic_event_topic_archived/down.sql
  infrastructure/hasura/migrations/default/1635758449088_drop_table_public_topic_event_topic_archived/up.sql
  infrastructure/hasura/migrations/default/1635758462207_drop_table_public_topic_event_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1635758462207_drop_table_public_topic_event_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1635758478205_drop_table_public_topic_event_topic_reopened/down.sql
  infrastructure/hasura/migrations/default/1635758478205_drop_table_public_topic_event_topic_reopened/up.sql
  infrastructure/hasura/migrations/default/1635758493172_drop_table_public_topic_event_topic_unarchived/down.sql
  infrastructure/hasura/migrations/default/1635758493172_drop_table_public_topic_event_topic_unarchived/up.sql
  infrastructure/hasura/migrations/default/1635758726064_create_table_public_topic_event_topic/down.sql
  infrastructure/hasura/migrations/default/1635758726064_create_table_public_topic_event_topic/up.sql
Owners: @heikir, @Gregoor

fix: task update without message text update
  e2e/message.test.ts
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/ui/options/OptionsButton.tsx
  ui/buttons/IconButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: task update without message text update (#615)
  e2e/message.test.ts
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/ui/options/OptionsButton.tsx
  ui/buttons/IconButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: update events and clientdb with new strategy
  backend/src/topics/events.ts
  frontend/src/clientdb/topicEvent.ts
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/migrations/default/1635759207052_alter_table_public_topic_event_alter_column_user_id/down.sql
  infrastructure/hasura/migrations/default/1635759207052_alter_table_public_topic_event_alter_column_user_id/up.sql
  shared/types/topicEvents.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: hasura migrations squash
  infrastructure/hasura/migrations/default/1635513987980_alter_table_public_topic_event_add_column_user_id/down.sql
  infrastructure/hasura/migrations/default/1635513987980_alter_table_public_topic_event_add_column_user_id/up.sql
  infrastructure/hasura/migrations/default/1635514037060_alter_table_public_topic_event_drop_column_type/down.sql
  infrastructure/hasura/migrations/default/1635514037060_alter_table_public_topic_event_drop_column_type/up.sql
  infrastructure/hasura/migrations/default/1635758449088_drop_table_public_topic_event_topic_archived/down.sql
  infrastructure/hasura/migrations/default/1635758449088_drop_table_public_topic_event_topic_archived/up.sql
  infrastructure/hasura/migrations/default/1635758462207_drop_table_public_topic_event_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1635758462207_drop_table_public_topic_event_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1635758478205_drop_table_public_topic_event_topic_reopened/down.sql
  infrastructure/hasura/migrations/default/1635758478205_drop_table_public_topic_event_topic_reopened/up.sql
  infrastructure/hasura/migrations/default/1635758493172_drop_table_public_topic_event_topic_unarchived/down.sql
  infrastructure/hasura/migrations/default/1635758493172_drop_table_public_topic_event_topic_unarchived/up.sql
  infrastructure/hasura/migrations/default/1635758726064_create_table_public_topic_event_topic/down.sql
  infrastructure/hasura/migrations/default/1635758726064_create_table_public_topic_event_topic/up.sql
  infrastructure/hasura/migrations/default/1635759207052_alter_table_public_topic_event_alter_column_user_id/down.sql
  infrastructure/hasura/migrations/default/1635759207052_alter_table_public_topic_event_alter_column_user_id/up.sql
  infrastructure/hasura/migrations/default/1635759207052_topic_events/down.sql
  infrastructure/hasura/migrations/default/1635759207052_topic_events/up.sql
Owners: @heikir, @Gregoor

chore: remove unneed metadata files
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_archived.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_reopened.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_unarchived.yaml
Owners: @heikir, @Gregoor

chore: remove noise from migrations
  infrastructure/hasura/migrations/default/1635759207052_topic_events/down.sql
  infrastructure/hasura/migrations/default/1635759207052_topic_events/up.sql
Owners: @heikir, @Gregoor

fix: various slack fixes
  backend/src/messages/events.ts
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove debug
  backend/src/notifications/sendNotification.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: live messages (#613)
  README.md
  backend/package.json
  backend/src/messages/events.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/slack/.gitignore
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/app.ts
  backend/src/slack/blocks/index.ts
  backend/src/slack/clone-manifest-cli.ts
  backend/src/slack/commands.ts
  backend/src/slack/install.ts
  backend/src/slack/manifest.json
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/setup.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/utils.ts
  backend/src/slack/views.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  infrastructure/hasura/metadata/cron_triggers.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_slack_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635266098741_create_table_public_topic_slack_message/down.sql
  infrastructure/hasura/migrations/default/1635266098741_create_table_public_topic_slack_message/up.sql
  richEditor/content/plainText.ts
  shared/object.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: update manifest scopes
  backend/src/slack/manifest.json
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: show slack notification toggle for unlinked users too
  backend/src/actions/actionHandlers.ts
  backend/src/slack/hasuraActions.ts
  backend/src/slack/install.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  infrastructure/hasura/metadata/actions.graphql
  infrastructure/hasura/metadata/actions.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: Aca 825 events log infra (part 1 of events log) (#601)
  .vscode/settings.json
  backend/src/topics/events.ts
  db/index.ts
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/topicEvent.ts
  frontend/src/clientdb/utils/sync.ts
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635759207052_topic_events/down.sql
  infrastructure/hasura/migrations/default/1635759207052_topic_events/up.sql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: show slack notification toggle for unlinked users too (#616)
  backend/src/actions/actionHandlers.ts
  backend/src/slack/hasuraActions.ts
  backend/src/slack/install.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  infrastructure/hasura/metadata/actions.graphql
  infrastructure/hasura/metadata/actions.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: better action typing
  backend/src/slack/actions.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: route to Acapela for linking slack
  backend/src/slack/app.ts
  backend/src/slack/install.ts
  backend/src/slack/installMetadata.ts
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/SlackSettings.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: route to Acapela for linking slack (#617)
  backend/src/slack/app.ts
  backend/src/slack/install.ts
  backend/src/slack/installMetadata.ts
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/SlackSettings.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: only grant topic access to members
  infrastructure/hasura/metadata/databases/default/tables/public_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_message_reaction.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
Owners: @heikir, @Gregoor

feat: invite all channel members to new request
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: invite all channel members to new request
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: only grant topic access to members
  infrastructure/hasura/metadata/databases/default/tables/public_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_message_reaction.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
Owners: @heikir, @Gregoor

feat: indicate whether existing user has joined team already
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/users/events.ts
  frontend/src/clientdb/teamMember.ts
  frontend/src/team/TeamMembersManager/TeamMemberBasicInfo.tsx
  frontend/src/team/TeamMembersManager/UserBasicInfo.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_team_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/migrations/default/1635780315755_alter_table_public_team_member_add_column_has_joined/down.sql
  infrastructure/hasura/migrations/default/1635780315755_alter_table_public_team_member_add_column_has_joined/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: lint
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: throw on eslint fix warnings
  package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: indicate whether existing user has joined team already (#619)
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/users/events.ts
  frontend/src/clientdb/teamMember.ts
  frontend/src/team/TeamMembersManager/TeamMemberBasicInfo.tsx
  frontend/src/team/TeamMembersManager/UserBasicInfo.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_team_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/migrations/default/1635780315755_alter_table_public_team_member_add_column_has_joined/down.sql
  infrastructure/hasura/migrations/default/1635780315755_alter_table_public_team_member_add_column_has_joined/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: permissions allow topic owners to view events
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic.yaml
Owners: @heikir, @Gregoor

feat: add topic related data to clientdb/topic_event
  frontend/src/clientdb/topicEvent.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: expose events through clientdb/topic
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: topic event body renderers
  frontend/src/clientdb/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
