Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: add parseAndTransformToTipTapJSON
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove jest from dependencies
  shared/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: prune ~ui (#541)
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  richEditor/emoji/SearchModal.tsx
  richEditor/emoji/module.ts
  richEditor/package.json
  ui/Spacer.tsx
  ui/buttons/CollapseToggleButton.tsx
  ui/card/Base.tsx
  ui/collapse/CollapsePanel.tsx
  ui/field.tsx
  ui/forms/SearchInput.tsx
  ui/forms/TextArea.tsx
  ui/icons/CurvedArrow.tsx
  ui/layout/CenteredContentWithSides.tsx
  ui/layout/Container.tsx
  ui/meta/ValueDescriptor.tsx
  ui/popovers/SelectionPopover.tsx
  ui/social/GoogleCalendarIcon.tsx
  ui/styleHelpers.ts
  ui/tags/index.tsx
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add slack markdown parser to create acapela slack command
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: more visible color for disabled toggles
  ui/toggle/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make sure tooltip disappears if trigger is removed
  ui/popovers/TooltipsRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make sure tooltip disappears if trigger is removed (#547)
  ui/popovers/TooltipsRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: channel linking
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: slight ui improvements for code inside messages
  richEditor/Theme.tsx
  ui/theme/borderRadius.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: no more close with message action
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: special data-no-tooltips attribute to disable tooltips inside. No tooltips for message preview
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
  ui/popovers/TooltipsRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: special data-no-tooltips attribute to disable tooltips inside. No tooltips for message preview (#548)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
  ui/popovers/TooltipsRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move slack markdown package to backend
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/slackMarkdown/parser.test.ts
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: use content with text for message preview
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use content with text for message preview (#549)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: new request title does not reset
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove preselected mention type
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: include closing date as considered activity date of topic
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: include closing date as considered activity date of topic (#550)
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: take active item from select list on mouse move
  ui/SelectList/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new request button to the left
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: selected mention bug fix
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: autolink mentions from slack to acapela
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: Fixes before test (#551)
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  ui/SelectList/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: set notify_email to default to false
  infrastructure/hasura/migrations/default/1634737444419_alter_table_public_team_member_alter_column_notify_email/down.sql
  infrastructure/hasura/migrations/default/1634737444419_alter_table_public_team_member_alter_column_notify_email/up.sql
Owners: @heikir, @Gregoor

chore(shared): add ts-jest
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add parseAndTransformToTipTapJSON
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove jest from dependencies
  shared/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

perf: improve jest performance
  backend/jest.config.js
  clientdb/jest.config.js
  shared/jest.config.js
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add slack markdown parser to create acapela slack command
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: channel linking
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(slackMarkdown): implement tiptap transformer
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move slack markdown package to backend
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/slackMarkdown/parser.test.ts
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

test: add more slack markdown tests
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add basic slack markdown parser
  shared/package.json
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: autolink mentions from slack to acapela
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: set notify_email to default to false (#552)
  infrastructure/hasura/migrations/default/1634737444419_alter_table_public_team_member_alter_column_notify_email/down.sql
  infrastructure/hasura/migrations/default/1634737444419_alter_table_public_team_member_alter_column_notify_email/up.sql
Owners: @heikir, @Gregoor

feat: wip: initial improved emoji picker based on virtualized list
  frontend/src/message/feed/Message.tsx
  frontend/src/message/reactions/MakeReactionButton.tsx
  richEditor/EmojiButton.tsx
  ui/EmojiPicker/EmojiPickerWindow.tsx
  ui/EmojiPicker/EmojiPickerWindowInner.tsx
  ui/EmojiPicker/frequentlyUsed.ts
  ui/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont allow reply button if topic is closed
  frontend/src/message/feed/Message.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: scroll to first unread message initially
  frontend/src/message/feed/Message.tsx
  frontend/src/topics/TopicStore.ts
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
