Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

chore: minor cleanups
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: created highly cached queries options for clientdb
  clientdb/entity/client.ts
  clientdb/entity/query.ts
  clientdb/entity/queryIndex.ts
  clientdb/entity/store.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: updated entities to use faster queries
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/user.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use optimized queries across components
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  shared/dev.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

docs: update and simplify docs (#481)
  GETTING-STARTED.md
  README.md
  backend/README.md
  docs/gql1.png
  docs/gql2.png
  docs/styled-components.png
  frontend/README.md
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: slugify topic name on server side for slack
  backend/src/slack/createTopicForSlackUsers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: addressed PR feedback
  clientdb/entity/uniqueIndex.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: topic by slug navigation (#485)
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/shortcuts.ts
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/store.ts
  clientdb/entity/uniqueIndex.ts
  frontend/pages/topic/[topicSlug].tsx
  frontend/router/index.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: addressed PR feedback
  clientdb/entity/utils/pushQueue.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: ensure order of mutations execution (#483)
  clientdb/entity/persistance.ts
  clientdb/entity/sync.ts
  clientdb/entity/utils/pushQueue.ts
  shared/promises.ts
  ui/createPromiseUI.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor type fixes
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  frontend/src/clientdb/task.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: removed unique index and reuse query index instead
  clientdb/entity/store.ts
  clientdb/entity/uniqueIndex.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: made message content not deeply observed
  clientdb/entity/definition.ts
  clientdb/entity/entity.ts
  frontend/src/clientdb/message.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid sync mobx warning
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid minor mobx warnings
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: name placeholders displayed in editor
  frontend/src/clientdb/teamMember.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/NewRequestRichEditor.tsx
  package.json
  richEditor/Theme.tsx
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: rename util name
  frontend/src/clientdb/index.tsx
  frontend/src/team/useCurrentTeamId.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: resize on content. moves to editor on enter
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
  ui/forms/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: move mention data back into content
  frontend/src/clientdb/task.ts
  frontend/src/message/content-and-task-drafts.ts
  frontend/src/message/extensions/mentions.tsx
  frontend/src/ui/message/composer/EditMessageEditor.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  richEditor/autocomplete/component.tsx
  shared/editor/mentions.ts
  shared/types/editor.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: enhanced input validation and better submit support
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: route to new topic on completed request
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: autofocus add topic field on load
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: better line-height for editor
  richEditor/Theme.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add tempt prompt to invite new users when sole user
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fetch schema for user instead of admin
  frontend/src/clientdb/utils/sync.ts
  tooling/gql/fetchSchema.ts
  tooling/gql/schema.graphql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups and comments
  clientdb/entity/queryIndex.ts
  shared/dev.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: optimize queries (#486)
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/entity.ts
  clientdb/entity/query.ts
  clientdb/entity/queryIndex.ts
  clientdb/entity/store.ts
  clientdb/entity/uniqueIndex.ts
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/user.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  shared/dev.ts
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added .search feature to clientdb
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/entity.ts
  clientdb/entity/queryIndex.ts
  clientdb/entity/search.ts
  clientdb/entity/store.ts
  clientdb/entity/sync.ts
  clientdb/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added search support for topic and message
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: optimized message plain text creation
  richEditor/content/plainText.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

dev: demo of search
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  package.json
  shared/assert.ts
  shared/dev.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add attachments to new request view
  frontend/src/clientdb/attachment.ts
  frontend/src/ui/message/attachment/AttachmentPreview.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

wip: persist search index
  clientdb/entity/client.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistedCache.ts
  clientdb/entity/search.ts
  clientdb/index.ts
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: improve sending experience
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/NewRequestRichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add platform aware submit shortcut
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: cr fixes
  frontend/src/clientdb/teamMember.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Pingpong request page (#489)
  frontend/src/clientdb/attachment.ts
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/teamMember.ts
  frontend/src/team/useCurrentTeamId.tsx
  frontend/src/ui/message/attachment/AttachmentPreview.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/NewRequestRichEditor.tsx
  frontend/src/views/NewRequestView/index.tsx
  package.json
  richEditor/Theme.tsx
  ui/forms/utils.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

hotfix: use query instead of find
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

dep: add permanent marker font
  frontend/public/fonts/PermanentMarker-Regular.ttf
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
