Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: cr fixes
  frontend/src/ping-pong/NewRequestView.tsx
  frontend/src/ping-pong/newRequest/index.tsx
  frontend/src/ping-pong/sidebar/SidebarContent.tsx
  frontend/src/ping-pong/sidebar/requestFeed/RequestItem.tsx
  frontend/src/views/DashboardView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: no more SSR
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: allow all team members to see all attachments
  backend/src/attachments/router.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: remove unneeded editor
  frontend/src/ping-pong/editor/newRequestEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Pingpong layout (#468)
  frontend/pages/new-request.tsx
  frontend/router/index.ts
  frontend/src/MainLayout.tsx
  frontend/src/ping-pong/Layout.tsx
  frontend/src/ping-pong/NewRequestView.tsx
  frontend/src/ping-pong/editor/newRequestEditor.tsx
  frontend/src/ping-pong/newRequest/index.tsx
  frontend/src/ping-pong/sidebar/SidebarContent.tsx
  frontend/src/ping-pong/sidebar/requestFeed/RequestFeed.tsx
  frontend/src/ping-pong/sidebar/requestFeed/RequestItem.tsx
  frontend/src/ping-pong/sidebar/requestFeed/RequestParticipants.tsx
  frontend/src/ui/Layout.tsx
  frontend/src/utils/useLocalStorageState.ts
  frontend/src/views/DashboardView/TopicWithMessages/CreateNewMessageEditor.tsx
  ui/forms/EditableText.tsx
  ui/forms/FreeInputText.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: bump db version and fix loading error
  frontend/src/clientdb/index.tsx
  frontend/src/ping-pong/sidebar/requestFeed/RequestParticipants.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move /new-request page to /new
  frontend/pages/new-request.tsx
  frontend/pages/new.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move legacy dashboard into /legacy route
  frontend/pages/[topicId].tsx
  frontend/pages/index.tsx
  frontend/pages/legacy/[topicId].tsx
  frontend/pages/legacy/index.tsx
  frontend/src/pages/LegacyDashboardPage.tsx
  frontend/src/views/LegacyDashboardView/LegacyDashboardView.tsx
  frontend/src/views/LegacyDashboardView/Navigation/DashboardNavigation.tsx
  frontend/src/views/LegacyDashboardView/Navigation/DashboardNavigationCard.tsx
  frontend/src/views/LegacyDashboardView/Navigation/tasks/TaskCard.tsx
  frontend/src/views/LegacyDashboardView/Navigation/tasks/TaskList.tsx
  frontend/src/views/LegacyDashboardView/Navigation/tasks/messageContentSnippet.ts
  frontend/src/views/LegacyDashboardView/Navigation/topics/TopicCard/index.tsx
  frontend/src/views/LegacyDashboardView/Navigation/topics/TopicList.tsx
  frontend/src/views/LegacyDashboardView/Navigation/topics/useDashboardOpenTopics.ts
  frontend/src/views/LegacyDashboardView/NewTopicCreation.tsx
  frontend/src/views/LegacyDashboardView/OpenedTopic.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/CloseTopicModal.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/ManageTopic/index.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/ScrollToBottomMonitor.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/TopicClosureNote.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/TopicHeaderDueDate.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/TopicSummary.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/gql.ts
  frontend/src/views/LegacyDashboardView/TopicWithMessages/index.tsx
  frontend/src/views/LegacyDashboardView/TopicWithMessages/shared.ts
  frontend/src/views/LegacyDashboardView/TopicWithMessages/useMessagesWithUpdates.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move sidebar layout to layout folder
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/ping-pong/NewRequestView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move NewRequestView into views folder
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/src/ping-pong/NewRequestView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove ping-pong folder
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/NewRequestRichEditor.tsx
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add semrel config for hotfix releases
  .semrelrc
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new request page
  frontend/pages/[topicId].tsx
  frontend/router/index.ts
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/pages/LegacyDashboardPage.tsx
  frontend/src/ui/search/SearchResults.tsx
  frontend/src/views/LegacyDashboardView/Navigation/DashboardNavigation.tsx
  frontend/src/views/LegacyDashboardView/Navigation/tasks/TaskList.tsx
  frontend/src/views/LegacyDashboardView/Navigation/topics/TopicList.tsx
  frontend/src/views/LegacyDashboardView/NewTopicCreation.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: request item is not observed correctly
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: link topic item to topic page
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: settings page scaffold
  frontend/pages/settings.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: link new request btn with page
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove unneeeded dep
  frontend/src/views/TeamMembersView/CurrentTeamMembersManager.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow waiting for initial data load before rendering + allow destroying the database
  clientdb/entity/client.ts
  clientdb/entity/persistance.ts
  clientdb/entity/sync.ts
  clientdb/index.ts
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: pass whole entity instead of id
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: handle logout and remove unneded e2e tests
  e2e/index.test.ts
  frontend/src/layouts/SidebarLayout/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: revert db version to previous
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use clientdb instead of gql for teams and some user queries
  frontend/pages/_app.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/gql/teams.ts
  frontend/src/gql/topics.ts
  frontend/src/gql/user.ts
  frontend/src/layouts/AppLayout/TeamPicker/index.tsx
  frontend/src/message/extensions/mentions.tsx
  frontend/src/team/useCurrentTeamId.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use clientdb instead of gql for teams and some user queries (#473)
  frontend/pages/_app.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/gql/teams.ts
  frontend/src/gql/topics.ts
  frontend/src/gql/user.ts
  frontend/src/layouts/AppLayout/TeamPicker/index.tsx
  frontend/src/message/extensions/mentions.tsx
  frontend/src/team/useCurrentTeamId.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: allow all team members to see all attachments
  backend/src/attachments/router.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: drop space table
  infrastructure/hasura/metadata/databases/default/tables/public_space.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/down.sql
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/up.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/down.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/up.sql
Owners: @heikir, @Gregoor

feat: drop room table
  infrastructure/hasura/metadata/databases/default/tables/public_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_message_reaction.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_added_to.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_invitation.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_transcription.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/down.sql
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/up.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/down.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/up.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/down.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/up.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/down.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/up.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/down.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/up.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/down.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/up.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/down.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/up.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/down.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/up.sql
Owners: @heikir, @Gregoor

fix: remove membership status seed
  infrastructure/hasura/seeds/default/1621350724707_membership_status.sql
Owners: @heikir, @Gregoor

feat: readd unread messages view
  infrastructure/hasura/metadata/databases/default/tables/public_unread_messages.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/down.sql
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/up.sql
Owners: @heikir, @Gregoor

feat: drop legacy backend
  backend/src/cron/cron.ts
  backend/src/cron/recurringMeetings.ts
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/messages/events.ts
  backend/src/messages/mentionHandlers.ts
  backend/src/notifications/create-and-send.ts
  backend/src/roomInvitation/events.ts
  backend/src/rooms/events.ts
  backend/src/rooms/rooms.ts
  backend/src/slack/options.ts
  backend/src/spaces/events.ts
  backend/src/spaces/helpers.ts
  backend/src/teamInvitation/acceptInvitations.ts
  backend/src/teamInvitation/events.ts
  backend/src/teamInvitation/sendInviteNotification.ts
  backend/src/teamMember/events.ts
  backend/src/topics/events.ts
  db/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: drop notifiactions tables
  infrastructure/hasura/metadata/databases/default/tables/public_notification.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/down.sql
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/up.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/down.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/up.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/down.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/up.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/down.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/up.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/down.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/up.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/down.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/up.sql
Owners: @heikir, @Gregoor

fix: remove slack app options
  backend/src/slack/options.ts
  backend/src/slack/setup.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove createMessageMentionNotifications
  backend/src/messages/events.ts
  backend/src/messages/mentionHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(infrastructure): delete unused hasura metadata configs
  infrastructure/hasura/metadata/databases/default/tables/public_membership_status.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_added_to.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_added_to.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_assigned.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_mention.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_private_room.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_invitation.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_last_posted_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
Owners: @heikir, @Gregoor

fix: typechecks
  frontend/src/layouts/AppLayout/Search/index.tsx
  frontend/src/layouts/AppLayout/index.tsx
  frontend/src/ui/message/attachment/AttachmentPreview.tsx
  frontend/src/ui/message/composer/MessageContentComposer.tsx
  frontend/src/views/TeamMembersView/CurrentTeamMembersManager.tsx
  frontend/src/views/TeamMembersView/NotificationSettings.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add missing team-picker observer
  frontend/src/layouts/AppLayout/TeamPicker/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: drop message-topic-create
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: drop topic due date header
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeaderDueDate.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: team picker in sidebar layout
  frontend/src/layouts/SidebarLayout/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new route for settings page
  frontend/router/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
