Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

fix: typecheck fixes
  clientdb/entity/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

wip: archive experiment
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: rename cached computed to be more clear
  clientdb/entity/index.ts
  clientdb/entity/query.ts
  clientdb/entity/utils/cachedComputed.ts
  clientdb/entity/utils/cachedComputedWithoutArgs.ts
  clientdb/tests/lazyComputed.spec.ts
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: fix imports
  clientdb/entity/index.ts
  clientdb/entity/query.ts
  clientdb/tests/lazyComputed.spec.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: incorrect cachedComputed useage
  clientdb/entity/utils/cachedComputed.ts
  frontend/src/clientdb/topic.ts
  shared/deepMap.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed types
  clientdb/entity/persistedCache.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups
  clientdb/entity/utils/cachedComputed.ts
  clientdb/entity/utils/cachedComputedWithoutArgs.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: futher clientdb optimizations (#596)
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/entitiesConnections.ts
  clientdb/entity/entity.ts
  clientdb/entity/entityPersistedCache.ts
  clientdb/entity/index.ts
  clientdb/entity/persistedCache.ts
  clientdb/entity/query.ts
  clientdb/entity/store.ts
  clientdb/entity/sync.ts
  clientdb/entity/utils/cachedComputed.ts
  clientdb/entity/utils/cachedComputedWithoutArgs.ts
  clientdb/entity/utils/entityCache.ts
  clientdb/index.ts
  clientdb/tests/lazyComputed.spec.ts
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/utils/deepMap.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/message/extensions/emoji.tsx
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/ui/presence.ts
  richEditor/RichEditor.tsx
  richEditor/autocomplete/index.tsx
  shared/createEqualReuser.ts
  shared/deepMap.ts
  shared/emoji/index.ts
  shared/hooks/usePromiseState.ts
  shared/isPlainObjectEqual.ts
  ui/EmojiPicker/EmojiPickerWindowInner.tsx
  ui/SelectList/index.tsx
  ui/empty/EmptyStatePlaceholder.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: fix bash unbound variable error
  scripts/send-slack-message.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: don't display message tools if topic is closed
  frontend/src/message/feed/Message.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: prevent due dates to be set if topic is closed
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: don't allow tasks due date change if topic closed (#597)
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: move out topicMember query
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add topic_member table & entity (#582)
  backend/src/messages/events.ts
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/topicMember.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635175852051_create_table_public_topic_member/down.sql
  infrastructure/hasura/migrations/default/1635175852051_create_table_public_topic_member/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: make topic members unique
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: escape slack links correctly
  backend/src/inviteUser/index.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: escape slack links correctly
  backend/src/inviteUser/index.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add initial event tables
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_archived.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_reopened.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_unarchived.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635406545115_create_table_public_topic_event/down.sql
  infrastructure/hasura/migrations/default/1635406545115_create_table_public_topic_event/up.sql
  infrastructure/hasura/migrations/default/1635407133958_create_table_public_topic_event_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1635407133958_create_table_public_topic_event_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1635407233738_create_table_public_topic_event_topic_reopened/down.sql
  infrastructure/hasura/migrations/default/1635407233738_create_table_public_topic_event_topic_reopened/up.sql
  infrastructure/hasura/migrations/default/1635407421775_create_table_public_topic_event_topic_archived/down.sql
  infrastructure/hasura/migrations/default/1635407421775_create_table_public_topic_event_topic_archived/up.sql
  infrastructure/hasura/migrations/default/1635407527360_create_table_public_topic_event_topic_unarchived/down.sql
  infrastructure/hasura/migrations/default/1635407527360_create_table_public_topic_event_topic_unarchived/up.sql
Owners: @heikir, @Gregoor

fix: don't delete events when user is deleted
  infrastructure/hasura/migrations/default/1635407874950_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407874950_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407894641_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407894641_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407902812_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407902812_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407918308_set_fk_public_topic_event_topic_reopened_reopened_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407918308_set_fk_public_topic_event_topic_reopened_reopened_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407933304_set_fk_public_topic_event_topic_closed_closed_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407933304_set_fk_public_topic_event_topic_closed_closed_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407955904_set_fk_public_topic_event_topic_archived_archived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407955904_set_fk_public_topic_event_topic_archived_archived_by_user_id/up.sql
Owners: @heikir, @Gregoor

chore: refactor topic updates notifications
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: user nullable for other topic event tables
  infrastructure/hasura/migrations/default/1635410435666_alter_table_public_topic_event_topic_archived_alter_column_archived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635410435666_alter_table_public_topic_event_topic_archived_alter_column_archived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635411776687_alter_table_public_topic_event_topic_unarchived_alter_column_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635411776687_alter_table_public_topic_event_topic_unarchived_alter_column_unarchived_by_user_id/up.sql
Owners: @heikir, @Gregoor

feat: handle closed/archive toggle events
  .vscode/settings.json
  backend/src/topics/events.ts
  db/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

infra: add relationships and permissions + type field
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_archived.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_reopened.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic_unarchived.yaml
  infrastructure/hasura/migrations/default/1635417079817_set_fk_public_topic_event_topic_archived_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417079817_set_fk_public_topic_event_topic_archived_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417091415_set_fk_public_topic_event_topic_closed_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417091415_set_fk_public_topic_event_topic_closed_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417103193_set_fk_public_topic_event_topic_reopened_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417103193_set_fk_public_topic_event_topic_reopened_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417176695_set_fk_public_topic_event_topic_unarchived_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417176695_set_fk_public_topic_event_topic_unarchived_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417279807_alter_table_public_topic_event_add_column_type/down.sql
  infrastructure/hasura/migrations/default/1635417279807_alter_table_public_topic_event_add_column_type/up.sql
Owners: @heikir, @Gregoor

feat: add type to topic events
  backend/src/topics/events.ts
  shared/types/topicEvents.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add topicEvent to clientDb
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/topicEvent.ts
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use createSlackLink function and escape link names correctly
  backend/src/inviteUser/index.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

infra: squash migrations
  infrastructure/hasura/migrations/default/1635406545115_create_table_public_topic_event/down.sql
  infrastructure/hasura/migrations/default/1635406545115_create_table_public_topic_event/up.sql
  infrastructure/hasura/migrations/default/1635407133958_create_table_public_topic_event_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1635407133958_create_table_public_topic_event_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1635407233738_create_table_public_topic_event_topic_reopened/down.sql
  infrastructure/hasura/migrations/default/1635407233738_create_table_public_topic_event_topic_reopened/up.sql
  infrastructure/hasura/migrations/default/1635407421775_create_table_public_topic_event_topic_archived/down.sql
  infrastructure/hasura/migrations/default/1635407421775_create_table_public_topic_event_topic_archived/up.sql
  infrastructure/hasura/migrations/default/1635407527360_create_table_public_topic_event_topic_unarchived/down.sql
  infrastructure/hasura/migrations/default/1635407527360_create_table_public_topic_event_topic_unarchived/up.sql
  infrastructure/hasura/migrations/default/1635407874950_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407874950_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407894641_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407894641_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407902812_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407902812_set_fk_public_topic_event_topic_unarchived_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407918308_set_fk_public_topic_event_topic_reopened_reopened_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407918308_set_fk_public_topic_event_topic_reopened_reopened_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407933304_set_fk_public_topic_event_topic_closed_closed_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407933304_set_fk_public_topic_event_topic_closed_closed_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635407955904_set_fk_public_topic_event_topic_archived_archived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635407955904_set_fk_public_topic_event_topic_archived_archived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635410435666_alter_table_public_topic_event_topic_archived_alter_column_archived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635410435666_alter_table_public_topic_event_topic_archived_alter_column_archived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635411776687_alter_table_public_topic_event_topic_unarchived_alter_column_unarchived_by_user_id/down.sql
  infrastructure/hasura/migrations/default/1635411776687_alter_table_public_topic_event_topic_unarchived_alter_column_unarchived_by_user_id/up.sql
  infrastructure/hasura/migrations/default/1635417079817_set_fk_public_topic_event_topic_archived_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417079817_set_fk_public_topic_event_topic_archived_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417091415_set_fk_public_topic_event_topic_closed_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417091415_set_fk_public_topic_event_topic_closed_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417103193_set_fk_public_topic_event_topic_reopened_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417103193_set_fk_public_topic_event_topic_reopened_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417176695_set_fk_public_topic_event_topic_unarchived_topic_event_id/down.sql
  infrastructure/hasura/migrations/default/1635417176695_set_fk_public_topic_event_topic_unarchived_topic_event_id/up.sql
  infrastructure/hasura/migrations/default/1635417279807_alter_table_public_topic_event_add_column_type/down.sql
  infrastructure/hasura/migrations/default/1635417279807_alter_table_public_topic_event_add_column_type/up.sql
  infrastructure/hasura/migrations/default/1635419640051_topic_events/down.sql
  infrastructure/hasura/migrations/default/1635419640051_topic_events/up.sql
Owners: @heikir, @Gregoor

wip: initial fake data implementation
  backend/src/fakeData/dateUtils.ts
  backend/src/fakeData/handler.ts
  backend/src/fakeData/utils.ts
  shared/editor/mentions.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: update dependencies
  backend/package.json
  clientdb/package.json
  db/package.json
  e2e/package.json
  frontend/package.json
  package.json
  richEditor/package.json
  shared/package.json
  tooling/package.json
  ui/package.json
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: use createSlackLink function and escape link names correctly
  backend/src/inviteUser/index.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: keep using next 11
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: restore next auth previous beta
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed autolinks breaking change
  richEditor/links/autolinks.ts
  richEditor/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: post link to git diff to slack
  scripts/wait-for-release.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: post link to git diff to slack
  scripts/wait-for-release.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: disable default next-auth sign-in and sign-out page
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: disable default next-auth sign-in and sign-out page
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid layout bug on mobile on fullscreen pages
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move responsibe utils to ui package
  ui/responsive.ts
  ui/theme/utils/font.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont display shortcuts on mobile
  ui/keyboard/Shortcut.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
