Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: rename
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: self-review fixes
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: Aca 842 close topic automatically after last (#590)
  backend/src/events/events.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/blocks/topicClosed.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: remove unnecessary tracking events and add new ones for a basic-level user activity tracking
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove extra unnecessary padding
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: always use Mod+Enter for submit (#589)
  frontend/src/views/NewRequestView/NewRequest.tsx
  ui/keyboard/describeShortcut.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: try simpler approach to lazyComputed to avoid frequent timeout settings
  clientdb/entity/utils/biddableTimeout.ts
  clientdb/entity/utils/lazyComputed.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix type error and command parsing
  backend/src/slack/commands.ts
  ui/time/Calendar/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: show remove team member button only to owner and fix tracking event
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: show remove team member button only to owner and fix tracking event
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: remove unnecessary tracking events and add new ones for a basic-level user activity tracking
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: fix type error and command parsing
  backend/src/slack/commands.ts
  ui/time/Calendar/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

ci: re-add hasura cli
  .github/workflows/ci.yaml
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: use @install-binary/hasura package
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: copy update given Richard's suggestions
  backend/src/notifications/bodyBuilders/topicClosed.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: remove highlight from topic menu when no tasks are pending
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: use @install-binary/hasura package
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: re-add hasura cli
  .github/workflows/ci.yaml
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Fixes and small tasks (#592)
  backend/src/notifications/bodyBuilders/topicClosed.ts
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: close topics entity actions
  frontend/src/clientdb/topic.ts
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: keep tasks open even when topic closes
  .vscode/settings.json
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: disable editing task when topics is closed
  frontend/src/message/feed/tasks/MessageTask.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(release): only run yarn if release was created
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: extract node-and-yarn github action
  .github/actions/node-and-yarn/action.yaml
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(release): only run yarn if release was created
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: notify product slack channel
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  scripts/send-slack-message.sh
  scripts/wait-for-release.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor ui tweaks
  ui/SelectList/index.tsx
  ui/empty/EmptyStatePlaceholder.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor emoji optimizations
  frontend/src/message/extensions/emoji.tsx
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  shared/emoji/index.ts
  shared/hooks/usePromiseState.ts
  ui/EmojiPicker/EmojiPickerWindowInner.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont show autocomplete in not editable mode
  richEditor/autocomplete/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont query for archived topics outside of search view
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use raw mobx atom instead of observable for lazyComputed to avoid one more observable being added as this function is called super frequently
  clientdb/entity/utils/lazyComputed.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: notify product slack channel
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  scripts/send-slack-message.sh
  scripts/wait-for-release.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: don't mark tasks as complete when topic closed (#594)
  .vscode/settings.json
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: clientdb has computation cache eg for parsed rich content > mentions list based on updatedAt as cache invalidator
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/entitiesConnections.ts
  clientdb/entity/entity.ts
  clientdb/entity/entityPersistedCache.ts
  clientdb/entity/persistedCache.ts
  clientdb/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: reuse queries for the same input even if called from unrelated places
  clientdb/entity/index.ts
  clientdb/entity/query.ts
  clientdb/entity/store.ts
  clientdb/entity/utils/entityCache.ts
  clientdb/entity/utils/lazyComputedWithArgs.ts
  frontend/src/clientdb/utils/deepMap.ts
  shared/createEqualReuser.ts
  shared/deepMap.ts
  shared/isPlainObjectEqual.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use persisted cache for message content parsing
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor tweaks
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/ui/presence.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups
  clientdb/index.ts
  richEditor/RichEditor.tsx
  shared/deepMap.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes & cleanups
  clientdb/entity/entityPersistedCache.ts
  clientdb/entity/index.ts
  clientdb/entity/persistedCache.ts
  clientdb/entity/query.ts
  clientdb/entity/utils/entityCache.ts
  clientdb/entity/utils/lazyComputedWithArgs.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups
  clientdb/entity/query.ts
  clientdb/entity/store.ts
  clientdb/entity/utils/lazyComputedWithArgs.ts
  shared/deepMap.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
