Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: add caddy as resverse proxy
  .env.sample
  Caddyfile
  docker-compose.ci.yaml
  docker-compose.yaml
  frontend/next-server.js
  frontend/next.config.js
  frontend/package.json
  frontend/src/apollo/client.tsx
  frontend/start-ci.sh
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

ci: build caddy docker image
  caddy.dockerfile
  monorepo.dockerfile
  scripts/build-and-push.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove handeling for special bold text
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

refactor: remove eslint-disable-next-line no-case-declarations
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add option to identify user using the backend proxy tracking endpoint
  backend/src/tracking/tracking.ts
  frontend/src/analytics/tracking.ts
  frontend/src/clientdb/ClientDbProvider.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add UserFragment type to backend identify calls and bring back created_at missing permission
  backend/src/tracking/tracking.ts
  frontend/src/clientdb/user.ts
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  shared/backendAnalytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: cut-down SSR and static build for most pages
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/pages/topic/[topicSlug].tsx
  frontend/src/views/TopicOrNewRequestPage.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: cut-down SSR and static build for most pages (#697)
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/pages/topic/[topicSlug].tsx
  frontend/src/views/TopicOrNewRequestPage.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add option to identify user using the backend proxy tracking endpoint
  backend/src/tracking/tracking.ts
  frontend/src/analytics/tracking.ts
  frontend/src/clientdb/ClientDbProvider.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add UserFragment type to backend identify calls and bring back created_at missing permission
  backend/src/tracking/tracking.ts
  frontend/src/clientdb/user.ts
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  shared/backendAnalytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: prevent analytics error bubbling
  shared/backendAnalytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(slack-markdown-generator): add list and mention rendering
  backend/src/notifications/sendNotification.ts
  backend/src/slack/slackMarkdown/generator.test.ts
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: inital slack markdown generator from tiptap json
  backend/src/notifications/sendNotification.ts
  backend/src/slack/slackMarkdown/generator.test.ts
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: use generateMarkdownFromTipTapJson for slack integration
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove handeling for special bold text
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

refactor: remove eslint-disable-next-line no-case-declarations
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: sentry imports
  backend/src/slack/request-modal/index.tsx
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: sentry imports
  backend/src/slack/request-modal/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: prevent analytics error bubbling (#698)
  backend/src/slack/request-modal/index.tsx
  backend/src/topics/events.ts
  shared/backendAnalytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: show correct mentions in slack home tab
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: show correct slack mention in live message
  backend/src/slack/LiveTopicMessage.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: show correct slack mention in live message
  backend/src/slack/LiveTopicMessage.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: show correct mentions in slack home tab
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

revert: frontend package.json node memory allocation
  frontend/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: many E2e test tasks (#695)
  e2e/helper/app-dev-page.ts
  e2e/message.test.ts
  e2e/topic.test.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/ui/options/OptionsButton.tsx
  frontend/src/utils/prompt.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  infrastructure/hasura/migrations/default/1637056562175_set_fk_public_topic_event_topic_id/down.sql
  infrastructure/hasura/migrations/default/1637056562175_set_fk_public_topic_event_topic_id/up.sql
  ui/buttons/CloseIconButton.tsx
  ui/buttons/IconButton.tsx
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed resolutions in package.json to match used versions
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use uuid unstead to random topic title
  e2e/message.test.ts
  e2e/topic.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb message reaction tests
  frontend/src/clientdb/tests/message-reactions.spec.ts
  frontend/src/clientdb/tests/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb task tests
  frontend/src/clientdb/tests/task.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(clientdb): test topic openning
  frontend/src/clientdb/tests/topic.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: include test utils to build entities
  frontend/src/clientdb/tests/message-reactions.spec.ts
  frontend/src/clientdb/tests/message.spec.ts
  frontend/src/clientdb/tests/task.spec.ts
  frontend/src/clientdb/tests/topic.spec.ts
  frontend/src/clientdb/tests/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(clientdb): test user membership
  frontend/src/clientdb/tests/user.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: created test utils to create app test clientdb
  frontend/src/clientdb/tests/testDB.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow parsing esmodules in jest
  frontend/jest.config.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: extracted entities so we can reuse them in tests
  clientdb/index.ts
  frontend/src/clientdb/createNewClientDb.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(clientdb): test topic team members
  frontend/global.d.ts
  frontend/src/clientdb/tests/topic.spec.ts
  frontend/src/testSupport/custom-expectations.ts
  frontend/src/testSupport/setupTests.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: created first app clientdb test
  frontend/src/clientdb/tests/user.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(clientdb): test topic unseen messages
  frontend/src/clientdb/tests/topic.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb attachment test
  frontend/src/clientdb/tests/attachment.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb message tests
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/tests/message.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
