Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: add screen cover to tasks popover (#644)
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/message/feed/tasks/CollapsedTasksButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: any topic member can update task
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
Owners: @heikir, @Gregoor

fix: any topic member can update task (#645)
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
Owners: @heikir, @Gregoor

fix: remove scrolling bug from message tasks
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: improve creating new team flow for new users
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
  frontend/src/ui/presence.ts
  frontend/src/views/ConnectTeamWithSlackView/ConnectTeamWithSlackView.tsx
  infrastructure/hasura/migrations/default/1636102819840_set_fk_public_user_current_team_id/down.sql
  infrastructure/hasura/migrations/default/1636102819840_set_fk_public_user_current_team_id/up.sql
  ui/buttons/Button.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: improve creating new team flow for new users (#647)
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
  frontend/src/ui/presence.ts
  frontend/src/views/ConnectTeamWithSlackView/ConnectTeamWithSlackView.tsx
  infrastructure/hasura/migrations/default/1636102819840_set_fk_public_user_current_team_id/down.sql
  infrastructure/hasura/migrations/default/1636102819840_set_fk_public_user_current_team_id/up.sql
  ui/buttons/Button.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use axios instead of node fetch
  frontend/next-server.js
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove scrolling bug from message tasks (#646)
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use custom express error handler
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use axios instead of node fetch
  frontend/next-server.js
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use custom express error handler
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add more slack home tab analytics events
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/utils.ts
  frontend/src/message/feed/tasks/MessageTask.tsx
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add more slack home tab analytics events (#650)
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/utils.ts
  frontend/src/message/feed/tasks/MessageTask.tsx
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: owner of newly created team has not joined the team, fixes ACA-904
  backend/src/teams/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: properly handle async function calls
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move topic events to backend
  backend/package.json
  backend/src/topics/events.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  shared/types/analytics.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move message events to backend
  backend/src/messages/events.ts
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add quick-fix message informing how to sign-up
  frontend/pages/auth/error.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move message reaction events to backend
  backend/src/events/events.ts
  backend/src/messages/events.ts
  frontend/src/message/reactions/MakeReactionButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add quick-fix message informing how to sign-up (#652)
  frontend/pages/auth/error.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move mark task as done event to backend
  backend/src/tasks/taskHandlers.ts
  frontend/src/message/feed/tasks/MessageTask.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove archived topic event from frontend
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move add due date event to backend
  backend/src/tasks/taskHandlers.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move account created and trial started event to backend
  backend/src/teams/events.ts
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move invite events to backend
  backend/src/inviteUser/index.ts
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move account added/removed user events to backend
  backend/src/teamMember/events.ts
  backend/src/users/events.ts
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(slack-home): only show's team requests
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(slack-home): only show's team requests (#653)
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat remove frontend tracking lib
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/pages/logout.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/analytics/SegmentScript.tsx
  frontend/src/analytics/tracking.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: make for loop over object entries type safe
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add event listeners to clientdb entities
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/tests/eventHandlers.spec.ts
  clientdb/tests/testUtils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add spacing between collapsed tasks buttons and mention tasks
  frontend/src/message/feed/tasks/CollapsedTasksButton.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: rename topic to request
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
  backend/src/topics/events.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add db connection check to healthz endpoint
  backend/src/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add db connection check to healthz endpoint
  backend/src/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: only create missing users in slack request flow
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(slackMarkdown): filter empty text nodes
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(slackMarkdown): filter empty text nodes
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: update nextjs to 12
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: update nextjs to 12
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
