Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @RodionChachura, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @RodionChachura @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @RodionChachura @omarduarte @Gregoor

chore: rebuild ts build info
  buildinfo.tsbuild
Owners: @heikir, @pie6k, @RodionChachura, @omarduarte, @Gregoor

feat: Autoselect team after creating a new team (#326)
  frontend/src/gql/teams.ts
  frontend/src/gql/user.ts
  frontend/src/layouts/AppLayout/TeamPicker/index.tsx
  ui/toasts/data.tsx
Owners: @heikir, @pie6k, @RodionChachura, @omarduarte, @Gregoor

chore: rename circle to item shadow
  frontend/src/ui/rooms/ManageRoomMembers/RoomOwner.tsx
  ui/baseStyles.ts
Owners: @heikir, @pie6k, @RodionChachura, @omarduarte, @Gregoor

feat: Aca 639 Display Room Owner (#324)
  backend/src/users/users.ts
  frontend/src/gql/rooms.ts
  frontend/src/ui/rooms/CreateRoomButton.tsx
  frontend/src/ui/rooms/ManageRoomMembers/RoomOwner.tsx
  frontend/src/ui/rooms/ManageRoomMembers/index.tsx
  frontend/src/views/CalendarView/GoogleCalendarEventsCard.tsx
  frontend/src/views/RoomView/RoomSidebarInfo.tsx
  gql/generated.ts
  gql/schema.graphql
  infrastructure/hasura/metadata/tables.yaml
  infrastructure/hasura/migrations/1628664399011_alter_table_public_room_add_column_owner_id/down.sql
  infrastructure/hasura/migrations/1628664399011_alter_table_public_room_add_column_owner_id/up.sql
  ui/baseStyles.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte, @RodionChachura

fix: null slug provided
  buildinfo.tsbuild
  frontend/src/views/CalendarView/GoogleCalendarEventsCard.tsx
Owners: @heikir, @pie6k, @RodionChachura, @omarduarte, @Gregoor

feature: add owner_id column to topic
  infrastructure/hasura/metadata/actions.graphql
  infrastructure/hasura/metadata/actions.yaml
  infrastructure/hasura/metadata/tables.yaml
  infrastructure/hasura/migrations/1628670693674_alter_table_public_topic_add_column_owner_id/down.sql
  infrastructure/hasura/migrations/1628670693674_alter_table_public_topic_add_column_owner_id/up.sql
Owners: @heikir, @Gregoor

chore: update graphql actions
  infrastructure/hasura/metadata/actions.graphql
  infrastructure/hasura/metadata/actions.yaml
Owners: @heikir, @Gregoor

fix: use calendar icon for every calendar event
  frontend/src/views/CalendarView/GoogleCalendarEventsCard.tsx
Owners: @heikir, @pie6k, @RodionChachura, @omarduarte, @Gregoor

fix: fixed all ts errors (#309)
  backend/src/roomInvitation/events.ts
  backend/src/teamInvitation/events.ts
  buildinfo.tsbuild
  db/schema.prisma
  frontend/next.config.js
  frontend/pages/api/auth/[...nextauth].ts
  frontend/routes/create.tsx
  frontend/src/apollo/apollo.test.tsx
  frontend/src/gql/utils/createFragment.ts
  frontend/src/gql/utils/hydration.tsx
  frontend/src/layouts/AppLayout/Breadcrumbs/Breadcrumb.tsx
  frontend/src/rooms/create/openRoomInputPrompt.tsx
  frontend/src/rooms/create/validateRoomCreationInfo.ts
  frontend/src/testSupport/cssTransform.ts
  frontend/src/ui/NotificationCount.tsx
  frontend/src/ui/message/composer/Recorder/useReactMediaRecorder.ts
  frontend/src/ui/message/display/types/Transcription.tsx
  frontend/src/ui/notifications/NotificationLabel/NotificationPlainLabel.tsx
  frontend/src/ui/rooms/RoomsList/CollapsibleRoomInfo.tsx
  frontend/src/ui/rooms/RoomsList/RoomsListCategory.tsx
  frontend/src/ui/rooms/filters/FiltersList.tsx
  frontend/src/utils/unreadMessages.ts
  frontend/src/utils/user.ts
  frontend/src/views/CalendarView/GoogleCalendarEventsCard.tsx
  frontend/src/views/RoomView/TopicsList/TopicMenuItem.tsx
  package.json
  shared/cleanup.ts
  shared/domEvents.ts
  tsconfig.typecheck.json
  types/styled-components.ts
  ui/forms/OptionsDropdown/single.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte, @RodionChachura
