Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: fetch schema for user instead of admin (#487)
  frontend/src/clientdb/utils/sync.ts
  tooling/gql/fetchSchema.ts
  tooling/gql/schema.graphql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: added first clientdb tests
  clientdb/entity/queryIndex.ts
  clientdb/entity/store.ts
  clientdb/entity/utils/entityCache.ts
  clientdb/entity/utils/eventManager.ts
  clientdb/jest.config.js
  clientdb/package.json
  clientdb/tests/connections.spec.ts
  clientdb/tests/misc.spec.ts
  clientdb/tests/observing.spec.ts
  clientdb/tests/query.spec.ts
  clientdb/tests/simpleQuery.spec.ts
  clientdb/tests/testUtils.ts
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move task management to frontend (#484)
  backend/src/messages/events.ts
  backend/src/messages/mentionHandlers.ts
  frontend/src/clientdb/task.ts
  frontend/src/gql/messages.ts
  frontend/src/gql/tasks.ts
  frontend/src/hooks/useLocalStorageState.ts
  frontend/src/message/extensions/mentions.tsx
  frontend/src/ui/message/composer/EditMessageEditor.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  richEditor/autocomplete/component.tsx
  shared/array.ts
  shared/editor/mentions.ts
  shared/types/editor.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: fallback to gql-mutation to make team invitation work
  frontend/src/views/SettingsView/TeamMembersManager/InviteMemberForm.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add create request prompt
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/styles/fontFaces.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add footer with add file button
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: cr comments
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  ui/theme/font.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: import path
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: small fixes and task creation enabled
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: full-height feed layout
  frontend/src/ui/message/messagesFeed/MessageLikeContent.tsx
  frontend/src/ui/topic/TopicViewCard.tsx
  frontend/src/views/RequestView/TopicWithMessages/CloseTopicModal.tsx
  frontend/src/views/RequestView/TopicWithMessages/ManageTopic/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: extract curved arrow
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  ui/arrows/CurvedArrow.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: New request page additions (#491)
  frontend/public/fonts/PermanentMarker-Regular.ttf
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
  frontend/styles/fontFaces.tsx
  ui/arrows/CurvedArrow.tsx
  ui/theme/font.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: feed adjustments according to design
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/ui/message/messagesFeed/MessageLikeContent.tsx
  frontend/src/ui/message/messagesFeed/MessageMetaData.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTasks.tsx
  frontend/src/ui/message/messagesFeed/tasks/TaskStatusIcon.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/buttons/Button.tsx
  ui/icons/default/Clock.tsx
  ui/namedSize.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: replaced minisearch with flexsearch
  clientdb/entity/client.ts
  clientdb/entity/persistedCache.ts
  clientdb/entity/search.ts
  clientdb/index.ts
  clientdb/package.json
  shared/dev.ts
  shared/mobxUtils.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  clientdb/entity/initializePersistance.ts
  clientdb/entity/search.ts
  clientdb/entity/store.ts
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups
  clientdb/entity/utils/entityCache.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: added first clientdb tests (#490)
  clientdb/entity/queryIndex.ts
  clientdb/entity/store.ts
  clientdb/entity/utils/eventManager.ts
  clientdb/jest.config.js
  clientdb/package.json
  clientdb/tests/connections.spec.ts
  clientdb/tests/misc.spec.ts
  clientdb/tests/observing.spec.ts
  clientdb/tests/query.spec.ts
  clientdb/tests/simpleQuery.spec.ts
  clientdb/tests/testUtils.ts
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: loading screen ui
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/ui/Logo.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: initial update to sidebar ui and content
  clientdb/entity/queryIndex.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/views/RequestView/index.tsx
  ui/theme/colors/default.ts
  ui/theme/font.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: feedbacked
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: feedbacked
  frontend/src/clientdb/task.ts
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: feed updates, spacings/sizes and task changes (#492)
  frontend/src/clientdb/task.ts
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/ui/message/messagesFeed/MessageLikeContent.tsx
  frontend/src/ui/message/messagesFeed/MessageMetaData.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTasks.tsx
  frontend/src/ui/message/messagesFeed/tasks/TaskStatusIcon.tsx
  frontend/src/ui/topic/TopicViewCard.tsx
  frontend/src/views/RequestView/TopicWithMessages/CloseTopicModal.tsx
  frontend/src/views/RequestView/TopicWithMessages/ManageTopic/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
  ui/buttons/Button.tsx
  ui/icons/default/Clock.tsx
  ui/namedSize.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: flying UI controls position
  frontend/src/ui/message/messagesFeed/MessageLikeContent.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor mobx cleanups
  frontend/src/ui/message/reply/ReplyButton.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: bug that created 2 stores for same entity
  clientdb/entity/client.ts
  clientdb/entity/persistance.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add access check to entity
  clientdb/entity/definition.ts
  clientdb/entity/entity.ts
  clientdb/entity/store.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added access check to topic and missing fields for sorting to topic and message
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/user.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: sort topics by last activity
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: ui for topic participants avatars
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: dont create -2 prefix for topic after every update, even if there is no slug collision
  infrastructure/hasura/migrations/default/1633605983337_update_dedupe_topic_slug/down.sql
  infrastructure/hasura/migrations/default/1633605983337_update_dedupe_topic_slug/up.sql
Owners: @heikir, @Gregoor

fix: allow user to access itself even if not member of any team
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
Owners: @heikir, @Gregoor

feat: all updated_at fields in db are not nullable
  infrastructure/hasura/migrations/default/1634019494673_non_nullable_updated_at/down.sql
  infrastructure/hasura/migrations/default/1634019494673_non_nullable_updated_at/up.sql
Owners: @heikir, @Gregoor

chore: clientdb package link
  package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: addressed PR feedback
  clientdb/entity/entity.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistedCache.ts
  clientdb/entity/search.ts
  frontend/src/clientdb/message.ts
  richEditor/content/plainText.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add search to clientdb (#488)
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/entity.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistedCache.ts
  clientdb/entity/queryIndex.ts
  clientdb/entity/search.ts
  clientdb/entity/store.ts
  clientdb/entity/sync.ts
  clientdb/index.ts
  clientdb/package.json
  frontend/src/clientdb/indexeddb/adapter.ts
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  package.json
  richEditor/content/plainText.ts
  shared/assert.ts
  shared/dev.ts
  shared/mobxUtils.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: loading screen ui (#493)
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/ui/Logo.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added search to sidebar
  clientdb/entity/search.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestSearchResults.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  ui/keyboard/Shortcut.tsx
  ui/keyboard/shortcutBase.ts
  ui/keyboard/useShortcut.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: made shortcuts nice version easier to use in other places
  frontend/src/utils/platformDetection.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  ui/keyboard/Shortcut.tsx
  ui/keyboard/describeShortcut.ts
  ui/keyboard/useShortcut.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: wip: message snippet in sidebar
  clientdb/entity/query.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed clientdb bug that was braking obserable chain for queries
  clientdb/entity/query.ts
  clientdb/entity/store.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
