Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix(Editor): prevents content editor from animating on entrance
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(sidebar): bugs (#726)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(DueDate): all topic members allowed to change due date
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
Owners: @heikir, @Gregoor

fix(DueDate): topic owners can also change due date
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
Owners: @heikir, @Gregoor

fix(Sidebar): request items due date updated
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(Sidebar): redo request item height when items move
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(tasks): initial moving marking as done button to task level
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/tasks/OwnTaskCompletionButton.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  ui/buttons/Button.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(Sidebar): rename
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(e2e): remove only tag
  e2e/topic.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(sidebar): other sidebar bugs (#728)
  e2e/topic.test.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: install berglas via npm
  backend/package.json
  frontend/package.json
  monorepo.dockerfile
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(deps): install berglas via npm (#729)
  backend/package.json
  frontend/package.json
  monorepo.dockerfile
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

test(team): invite existing user
  e2e/team.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test(team): remove team member
  e2e/team.test.ts
  frontend/src/team/TeamMembersManager/index.tsx
  ui/buttons/IconButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: parallelize db fixture
  e2e/helper/base-test.ts
  e2e/helper/db.ts
  e2e/helper/global-setup.ts
  e2e/playwright.config.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use hasura cli via yarn
  backend/package.json
  backend/scripts/migrate-hasura.sh
  monorepo.dockerfile
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(tasks): new ui for participants of message, new colors for complete buttons
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/message/feed/tasks/MessageTasksPeople.tsx
  frontend/src/tasks/OwnTaskCompletionButton.tsx
  ui/buttons/Button.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(deps): use hasura cli for migrations via yarn (#730)
  backend/package.json
  backend/scripts/migrate-hasura.sh
  monorepo.dockerfile
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

types: fix ts errors
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(deploy): use google-github-actions/auth action
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

typo: typo fixes
  frontend/src/tasks/OwnTaskCompletionButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: renames
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/SubmitMessageButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(deploy): use google-github-actions/auth action
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test(topic): requested user becomes topic member
  e2e/message.test.ts
  frontend/src/ui/users/Avatar.tsx
  frontend/src/ui/users/AvatarList.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(topic): new page /[topicSlug]/duplicate
  frontend/pages/topic/[topicSlug]/duplicate.tsx
  frontend/pages/topic/[topicSlug]/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(topic): pre-fill data from existing topic if topic duplicate is requested
  frontend/src/hooks/useRouteParams.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/TopicOrNewRequestPage.tsx
  shared/routes/index.ts
  shared/routes/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(tasks): mark as done task level flow (#727)
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/message/feed/tasks/MessageTasksPeople.tsx
  frontend/src/tasks/OwnTaskCompletionButton.tsx
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/SubmitMessageButton.tsx
  ui/buttons/Button.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test(topic): requested user becomes topic member
  e2e/message.test.ts
  frontend/src/ui/users/Avatar.tsx
  frontend/src/ui/users/AvatarList.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: parallelize db fixture
  e2e/helper/base-test.ts
  e2e/helper/db.ts
  e2e/helper/global-setup.ts
  e2e/playwright.config.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test(team): invite existing user
  e2e/team.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test(team): remove team member
  e2e/team.test.ts
  frontend/src/team/TeamMembersManager/index.tsx
  ui/buttons/IconButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Slack-Home): replacete webapp Sent group
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(Slack-Home): replacete webapp Sent group (#735)
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(infrasturcture): remove liveness probe from caddy
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

feat(backend): add more logging to hasura migration script
  backend/scripts/migrate-hasura.sh
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(infrastrucutre): increase probe timeouts for backend
  infrastructure/kubernetes/api/base/deployment.yaml
Owners: @christophwitzko

fix(infrasturcture): remove liveness probe from caddy
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

feat(backend): add more logging to hasura migration script
  backend/scripts/migrate-hasura.sh
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(infrastrucutre): increase probe timeouts for backend
  infrastructure/kubernetes/api/base/deployment.yaml
Owners: @christophwitzko

test(task): update tests to UI changes
  e2e/message.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
