Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: add created_at column to team and necessary missing params to analytics group calls
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/clientdb/team.ts
  infrastructure/hasura/migrations/default/1636547498451_alter_table_public_team_add_column_created_at/down.sql
  infrastructure/hasura/migrations/default/1636547498451_alter_table_public_team_add_column_created_at/up.sql
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: team created_at hasura permissions
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
Owners: @heikir, @Gregoor

chore: fix merge conflicts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: change tracking created_at param from string to date type
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: team created_at hasura permissions
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
Owners: @heikir, @Gregoor

fix: change tracking created_at param from string to date type
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add created_at column to team and necessary missing params to analytics group calls
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/clientdb/team.ts
  infrastructure/hasura/migrations/default/1636547498451_alter_table_public_team_add_column_created_at/down.sql
  infrastructure/hasura/migrations/default/1636547498451_alter_table_public_team_add_column_created_at/up.sql
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: fix merge conflicts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: allow debugging dev mode in safari
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: fix tiptap bug by styles workaround
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed stretch animation in new request composer
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: better logging for idb errors
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: typo in button case
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Aca 893 broken text on new request creation (#673)
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/clientdb/indexeddb/adapter.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: typo in button case (#674)
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: bump topic entities on membership changes
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/topics/events.ts
  db/index.ts
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add constant for manual clientdb version bump
  clientdb/entity/initializePersistance.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add comment
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add constant for manual clientdb version bump (#676)
  clientdb/entity/initializePersistance.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: bump topic entities on membership changes (#675)
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/topics/events.ts
  db/index.ts
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove task.messate_task_due_date_id
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/messageTaskDueDate.tsx
  frontend/src/clientdb/task.ts
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  infrastructure/hasura/migrations/default/1636615154444_message-task-table/down.sql
  infrastructure/hasura/migrations/default/1636615154444_message-task-table/up.sql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use message_task_due_date for slack due date updates
  backend/src/slack/actions.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: update down migration
  infrastructure/hasura/migrations/default/1636615154444_message-task-table/down.sql
Owners: @heikir, @Gregoor

feat: Aca 897 add topic event for task due date (part 1) (#665)
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/tasks/messageTaskDueDateHandler.ts
  backend/src/tasks/taskHandlers.ts
  db/index.ts
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/messageTaskDueDate.tsx
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1636615154444_message-task-table/down.sql
  infrastructure/hasura/migrations/default/1636615154444_message-task-table/up.sql
  ui/time/Calendar/MonthDays/Week/Day.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: rename due_date to due_at so that it is consistent with other date fields
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/tasks/messageTaskDueDateHandler.ts
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/messageTaskDueDate.tsx
  frontend/src/clientdb/task.ts
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
  infrastructure/hasura/migrations/default/1636622516820_alter_table_public_message_task_due_date_alter_column_due_date/down.sql
  infrastructure/hasura/migrations/default/1636622516820_alter_table_public_message_task_due_date_alter_column_due_date/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: change traits for identify calls to fix avatars from displaying in our analytics tool
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

infra: add message_task_due_date to topic_event
  frontend/src/clientdb/topicEvent.ts
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/migrations/default/1636622893158_alter_table_public_topic_event_add_column_message_task_due_date_from_due_at/down.sql
  infrastructure/hasura/migrations/default/1636622893158_alter_table_public_topic_event_add_column_message_task_due_date_from_due_at/up.sql
  infrastructure/hasura/migrations/default/1636622906911_alter_table_public_topic_event_add_column_message_task_due_date_to_due_at/down.sql
  infrastructure/hasura/migrations/default/1636622906911_alter_table_public_topic_event_add_column_message_task_due_date_to_due_at/up.sql
  infrastructure/hasura/migrations/default/1636623243753_alter_table_public_topic_event_add_column_message_task_due_date_id/down.sql
  infrastructure/hasura/migrations/default/1636623243753_alter_table_public_topic_event_add_column_message_task_due_date_id/up.sql
  infrastructure/hasura/migrations/default/1636623334421_alter_table_public_topic_event_alter_column_message_task_due_date_id/down.sql
  infrastructure/hasura/migrations/default/1636623334421_alter_table_public_topic_event_alter_column_message_task_due_date_id/up.sql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: convert null to undefined when necessary
  shared/backendAnalytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: change traits for identify calls to fix avatars from displaying in our analytics tool
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: convert null to undefined when necessary
  shared/backendAnalytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: create instead of createOrUpdate (which throws in dev)
  frontend/src/clientdb/message.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: create topic events on frontend due date changes
  frontend/src/clientdb/messageTaskDueDate.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: render due date topic events
  frontend/src/clientdb/topicEvent.ts
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

infra: squash migrations
  frontend/package.json
  infrastructure/hasura/migrations/default/1636622516820_alter_table_public_message_task_due_date_alter_column_due_date/up.sql
  infrastructure/hasura/migrations/default/1636622893158_alter_table_public_topic_event_add_column_message_task_due_date_from_due_at/down.sql
  infrastructure/hasura/migrations/default/1636622893158_alter_table_public_topic_event_add_column_message_task_due_date_from_due_at/up.sql
  infrastructure/hasura/migrations/default/1636622906911_alter_table_public_topic_event_add_column_message_task_due_date_to_due_at/down.sql
  infrastructure/hasura/migrations/default/1636622906911_alter_table_public_topic_event_add_column_message_task_due_date_to_due_at/up.sql
  infrastructure/hasura/migrations/default/1636623243753_alter_table_public_topic_event_add_column_message_task_due_date_id/down.sql
  infrastructure/hasura/migrations/default/1636623243753_alter_table_public_topic_event_add_column_message_task_due_date_id/up.sql
  infrastructure/hasura/migrations/default/1636623334421_alter_table_public_topic_event_alter_column_message_task_due_date_id/down.sql
  infrastructure/hasura/migrations/default/1636623334421_alter_table_public_topic_event_alter_column_message_task_due_date_id/up.sql
  infrastructure/hasura/migrations/default/1636623334421_topic-event-due-date/down.sql
  infrastructure/hasura/migrations/default/1636623334421_topic-event-due-date/up.sql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

revert: frontend package.json node memory allocation
  frontend/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use slack user tz for due dates
  .env.sample
  backend/package.json
  backend/src/index.ts
  backend/src/localtunnel.ts
  backend/src/slack/actions.ts
  backend/src/slack/app.ts
  backend/src/slack/install.ts
  backend/src/transcriptions/sonixClient.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: use slack user tz for due dates (#679)
  .env.sample
  backend/package.json
  backend/src/index.ts
  backend/src/localtunnel.ts
  backend/src/slack/actions.ts
  backend/src/slack/app.ts
  backend/src/slack/install.ts
  backend/src/transcriptions/sonixClient.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: dynamically import dev dependencies
  backend/src/localtunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: circular dependency issue with task-> message -> message_task_due_date
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: disable implicit inspect from next dev
  frontend/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
