Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: pass layout ids to messages and topic title on topic view
  frontend/src/message/display/types/TextMessageContent.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: update new request view animations + add needed layout ids
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: autocomplete popover takes position, not only size into consideration when hiding itself during animations
  frontend/src/message/extensions/mentions/TypedMention.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  richEditor/autocomplete/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: made animations slightly slower
  ui/animations.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: show validation errors in inputs
  ui/forms/FieldWithLabel.tsx
  ui/forms/TextInput.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove unneded update check
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Add topic rename input validation (#574)
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  ui/forms/FieldWithLabel.tsx
  ui/forms/TextInput.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  frontend/pages/_app.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  richEditor/content/RichContentRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: animate new topic creation (#575)
  frontend/pages/_app.tsx
  frontend/src/animations/layout.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
  frontend/src/message/display/types/TextMessageContent.tsx
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  richEditor/autocomplete/utils.ts
  richEditor/content/RichContentRenderer.tsx
  ui/animations.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: include "Acapela" as email sender name
  shared/email.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: send invitation email independent of user notification preference
  backend/src/inviteUser/index.ts
  backend/src/notifications/sendNotification.ts
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: send invitation email independent of user notification preference
  backend/src/inviteUser/index.ts
  backend/src/notifications/sendNotification.ts
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

refactor: if-style notification channel picking
  backend/src/notifications/sendNotification.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove redundant topic line
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove redundant topic line
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: if-style notification channel picking
  backend/src/notifications/sendNotification.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: sending slack notification also accepts blocks
  backend/src/notifications/sendNotification.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: notify topic closure slack block template
  backend/src/slack/blocks/index.ts
  backend/src/slack/blocks/topicClosed.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: add observer to slack button
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: notify topic owner when topic not closed by them
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat[wip]: handle slack actions
  backend/src/slack/actions.ts
  backend/src/slack/setup.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: display next required action
  frontend/src/topics/TopicStore.ts
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/buttons/TextButton.tsx
  ui/icons/default/AcapelaWave.tsx
  ui/icons/default/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: lint
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: open a prefilled topic modal for the slack command
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/setup.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/views.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: better clientdb lazy cache that keeps value in memory if not observed
  clientdb/entity/index.ts
  clientdb/entity/utils/entityCache.ts
  clientdb/entity/utils/lazyComputed.ts
  clientdb/tests/lazyComputed.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new sidebar logic
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: clickable icon inside popover menu
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add reopen and archive slack event handlers
  backend/src/slack/actions.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: observer used for slack installation button
  frontend/src/team/SlackInstallationButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new sidebar logic (#580)
  clientdb/entity/index.ts
  clientdb/entity/utils/entityCache.ts
  clientdb/entity/utils/lazyComputed.ts
  clientdb/tests/lazyComputed.spec.ts
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/topic.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: no 3-dots next to user avatar for menu
  frontend/src/layouts/UserMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add topic_member table & entity
  backend/src/messages/events.ts
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/topicMember.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1635175852051_create_table_public_topic_member/down.sql
  infrastructure/hasura/migrations/default/1635175852051_create_table_public_topic_member/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: cr fixes
  backend/src/slack/actions.ts
  backend/src/slack/blocks/topicClosed.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: update migration for unique and data mig
  infrastructure/hasura/migrations/default/1635175852051_create_table_public_topic_member/up.sql
Owners: @heikir, @Gregoor

chore: cr fixes
  backend/src/slack/blocks/topicClosed.ts
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: Aca 834 close topic slack notification (#581)
  backend/src/notifications/sendNotification.ts
  backend/src/slack/actions.ts
  backend/src/slack/blocks/index.ts
  backend/src/slack/blocks/topicClosed.ts
  backend/src/slack/setup.ts
  backend/src/topics/events.ts
  frontend/src/team/SlackInstallationButton.tsx
  shared/email.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: drop topic.closing_summary
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/migrations/default/1635236333015_alter_table_public_topic_drop_column_closing_summary/down.sql
  infrastructure/hasura/migrations/default/1635236333015_alter_table_public_topic_drop_column_closing_summary/up.sql
Owners: @heikir, @Gregoor

chore: remove topic.closing_summary from frontend
  backend/src/slack/actions.ts
  frontend/src/clientdb/topic.ts
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: lint
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
  ui/Badge.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: drop topic.closing_summary (#583)
  backend/src/slack/actions.ts
  frontend/src/clientdb/topic.ts
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/migrations/default/1635236333015_alter_table_public_topic_drop_column_closing_summary/down.sql
  infrastructure/hasura/migrations/default/1635236333015_alter_table_public_topic_drop_column_closing_summary/up.sql
  ui/Badge.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte
