Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: update user menu
  frontend/src/layouts/AppLayout/UserMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: replace team page with settings page
  frontend/pages/team.tsx
  frontend/router/index.ts
  frontend/src/layouts/AppLayout/TeamPicker/index.tsx
  frontend/src/layouts/AppLayout/UserMenu.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/TeamMembersManager/ExitTeamButton.tsx
  frontend/src/views/SettingsView/TeamMembersManager/InvitationPendingIndicator.tsx
  frontend/src/views/SettingsView/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/views/SettingsView/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/views/SettingsView/TeamMembersManager/SlackInstallationButton.tsx
  frontend/src/views/SettingsView/TeamMembersManager/index.tsx
  frontend/src/views/SettingsView/index.tsx
  frontend/src/views/TeamMembersView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add a tiny bit of spacing
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/TeamMembersManager/ExitTeamButton.tsx
  frontend/src/views/SettingsView/TeamMembersManager/index.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: load settings only once team is loaded
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: made createdb function async
  clientdb/index.ts
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: ts types fixes
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: cr fixes
  frontend/src/layouts/AppLayout/UserMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove AppLayout
  frontend/pages/clientdb.tsx
  frontend/src/layouts/AppLayout/PageHeader.tsx
  frontend/src/layouts/AppLayout/SpacedAppLayoutContainer.tsx
  frontend/src/layouts/AppLayout/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/TeamPicker.tsx
  frontend/src/layouts/UserMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: allow unauthorized user to load a page
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: made userId required for creating clientdb
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: squash hasura migrations
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/down.sql
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/up.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/down.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/up.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/down.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/up.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/down.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/up.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/down.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/up.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/down.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/up.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/down.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/up.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/down.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/up.sql
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/down.sql
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/up.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/down.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/up.sql
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/down.sql
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/up.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/down.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/up.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/down.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/up.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/down.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/up.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/down.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/up.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/down.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/up.sql
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/down.sql
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/up.sql
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/down.sql
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/up.sql
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/down.sql
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/up.sql
Owners: @heikir, @Gregoor

feat: drop space table
  infrastructure/hasura/metadata/databases/default/tables/public_space.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/down.sql
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/up.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/down.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/up.sql
Owners: @heikir, @Gregoor

feat: readd unread messages view
  infrastructure/hasura/metadata/databases/default/tables/public_unread_messages.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/down.sql
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/up.sql
Owners: @heikir, @Gregoor

feat: squash hasura migrations
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/down.sql
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/up.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/down.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/up.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/down.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/up.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/down.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/up.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/down.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/up.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/down.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/up.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/down.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/up.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/down.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/up.sql
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/down.sql
  infrastructure/hasura/migrations/default/1633360504203_drop_table_public_space_member/up.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/down.sql
  infrastructure/hasura/migrations/default/1633360548631_drop_table_public_space/up.sql
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/down.sql
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/up.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/down.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/up.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/down.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/up.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/down.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/up.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/down.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/up.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/down.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/up.sql
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/down.sql
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/up.sql
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/down.sql
  infrastructure/hasura/migrations/default/1633509452091_add_unread_messages_view/up.sql
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/down.sql
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/up.sql
Owners: @heikir, @Gregoor

feat: drop room table
  infrastructure/hasura/metadata/databases/default/tables/public_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_message_reaction.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_added_to.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_invitation.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_transcription.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/down.sql
  infrastructure/hasura/migrations/default/1633357884920_drop_view_public_room_last_posted_message/up.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/down.sql
  infrastructure/hasura/migrations/default/1633358071118_alter_table_public_topic_drop_column_room_id/up.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/down.sql
  infrastructure/hasura/migrations/default/1633358371437_drop_view_public_private_room/up.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/down.sql
  infrastructure/hasura/migrations/default/1633358451494_drop_table_public_room_member/up.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/down.sql
  infrastructure/hasura/migrations/default/1633358503033_drop_table_public_room_invitation/up.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/down.sql
  infrastructure/hasura/migrations/default/1633358709972_drop_table_public_notification_room_closed/up.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/down.sql
  infrastructure/hasura/migrations/default/1633358721291_drop_table_public_notification_room_added_to/up.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/down.sql
  infrastructure/hasura/migrations/default/1633358775474_drop_table_public_room/up.sql
Owners: @heikir, @Gregoor

feat: drop notifiactions tables
  infrastructure/hasura/metadata/databases/default/tables/public_notification.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/down.sql
  infrastructure/hasura/migrations/default/1633360750830_drop_table_public_notification_topic_added_to/up.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/down.sql
  infrastructure/hasura/migrations/default/1633360760570_drop_table_public_notification_topic_assigned/up.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/down.sql
  infrastructure/hasura/migrations/default/1633360769165_drop_table_public_notification_topic_closed/up.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/down.sql
  infrastructure/hasura/migrations/default/1633360779998_drop_table_public_notification_topic_mention/up.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/down.sql
  infrastructure/hasura/migrations/default/1633360833775_drop_table_public_notification/up.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/down.sql
  infrastructure/hasura/migrations/default/1633360874557_drop_table_public_membership_status/up.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/down.sql
  infrastructure/hasura/migrations/default/1633361139491_drop_table_public_topic_member/up.sql
Owners: @heikir, @Gregoor

fix(infrastructure): delete unused hasura metadata configs
  infrastructure/hasura/metadata/databases/default/tables/public_membership_status.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_added_to.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_room_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_added_to.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_assigned.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_closed.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_notification_topic_mention.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_private_room.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_invitation.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_last_posted_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_room_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_space_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_member.yaml
Owners: @heikir, @Gregoor

fix: allow all team members to see all attachments
  backend/src/attachments/router.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove membership status seed
  infrastructure/hasura/seeds/default/1621350724707_membership_status.sql
Owners: @heikir, @Gregoor

fix: remove slack app options
  backend/src/slack/options.ts
  backend/src/slack/setup.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: drop legacy backend
  backend/src/cron/cron.ts
  backend/src/cron/recurringMeetings.ts
  backend/src/events/eventHandlers.ts
  backend/src/events/events.ts
  backend/src/messages/events.ts
  backend/src/messages/mentionHandlers.ts
  backend/src/notifications/create-and-send.ts
  backend/src/roomInvitation/events.ts
  backend/src/rooms/events.ts
  backend/src/rooms/rooms.ts
  backend/src/slack/options.ts
  backend/src/spaces/events.ts
  backend/src/spaces/helpers.ts
  backend/src/teamInvitation/acceptInvitations.ts
  backend/src/teamInvitation/events.ts
  backend/src/teamInvitation/sendInviteNotification.ts
  backend/src/teamMember/events.ts
  backend/src/topics/events.ts
  db/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove createMessageMentionNotifications
  backend/src/messages/events.ts
  backend/src/messages/mentionHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: (clientdb) wait for initial data before rendering (#474)
  clientdb/entity/client.ts
  clientdb/entity/persistance.ts
  clientdb/entity/sync.ts
  clientdb/index.ts
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: unread_messages view migration
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/up.sql
Owners: @heikir, @Gregoor

feat: make MenuOptions take url
  frontend/src/layouts/UserMenu.tsx
  frontend/src/utils/openInNewTab.ts
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove unneeded deps
  frontend/src/utils/unreadMessages.ts
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: replace `/team` page with `/settings` page (#476)
  frontend/pages/clientdb.tsx
  frontend/pages/team.tsx
  frontend/router/index.ts
  frontend/src/layouts/AppLayout/PageHeader.tsx
  frontend/src/layouts/AppLayout/SpacedAppLayoutContainer.tsx
  frontend/src/layouts/AppLayout/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/TeamPicker.tsx
  frontend/src/layouts/UserMenu.tsx
  frontend/src/utils/openInNewTab.ts
  frontend/src/utils/unreadMessages.ts
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/TeamMembersManager/InvitationPendingIndicator.tsx
  frontend/src/views/SettingsView/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/views/SettingsView/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/views/SettingsView/TeamMembersManager/SlackInstallationButton.tsx
  frontend/src/views/SettingsView/TeamMembersManager/index.tsx
  frontend/src/views/SettingsView/index.tsx
  frontend/src/views/TeamMembersView/ExitTeamButton.tsx
  frontend/src/views/TeamMembersView/index.tsx
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

hotfix: using useDb only after load
  frontend/pages/[topicId].tsx
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/pages/settings.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/team/useCurrentTeamId.tsx
  frontend/src/views/NewRequestView/index.tsx
  frontend/src/views/RequestView/index.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: using useDb only after load (#478)
  frontend/pages/[topicId].tsx
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/pages/settings.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/team/useCurrentTeamId.tsx
  frontend/src/views/NewRequestView/index.tsx
  frontend/src/views/RequestView/index.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: disable recurring-meetings cron job
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @Gregoor

fix: wrongfully squashed migrations
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/down.sql
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/up.sql
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/up.sql
Owners: @heikir, @Gregoor

chore: proxy hasura console on different ports
  scripts/hasura-console-proxy.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: proxy hasura console on different ports
  scripts/hasura-console-proxy.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: wrongfully squashed migrations
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/down.sql
  infrastructure/hasura/migrations/default/1633430078806_alter_table_public_etam_member_add_timestamps/up.sql
  infrastructure/hasura/migrations/default/1633527643622_drop_legacy_backend/up.sql
Owners: @heikir, @Gregoor

fix: disable recurring-meetings cron job
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @Gregoor

feat: automatically detect clientdb schema change instead of relying on db version
  backend/src/events/handleCreateSyncRequests.ts
  clientdb/entity/client.ts
  clientdb/entity/db/adapter.ts
  clientdb/entity/definition.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistance.ts
  clientdb/index.ts
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/indexeddb/adapter.ts
  shared/document.ts
  shared/hash.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: lint fixes
  clientdb/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: cleanup dedupe slug functions
  infrastructure/hasura/migrations/default/1633603983337_update_dedupe_topic_slug/down.sql
  infrastructure/hasura/migrations/default/1633603983337_update_dedupe_topic_slug/up.sql
  infrastructure/hasura/migrations/default/1633604060324_drop_unused_dedupe_slug_functions/down.sql
  infrastructure/hasura/migrations/default/1633604060324_drop_unused_dedupe_slug_functions/up.sql
Owners: @heikir, @Gregoor

chore: minor cleanups
  backend/src/events/handleCreateSyncRequests.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte
