Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

chore: fix imports
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/ui/Modal/index.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/ui/message/reactions/MessageReactions/MessageReaction.tsx
  frontend/src/ui/message/reactions/MessageReactions/MessageReactionTooltip.tsx
  frontend/src/ui/message/reply/ReplyingToMessage.tsx
  frontend/src/ui/users/Avatar.tsx
  frontend/src/ui/users/UserBasicInfo.tsx
  frontend/src/ui/users/UserBasicInfoContainer.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureNote.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/SettingsView/TeamMembersManager/InvitationPendingIndicator.tsx
  frontend/src/views/SettingsView/index.tsx
  frontend/src/views/WindowView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed messages layout for topics with not enough messages to fill the screen
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: ts types fixes
  frontend/src/layouts/UserMenu.tsx
  frontend/src/message/extensions/mentions.tsx
  frontend/src/ui/message/reply/ReplyingToMessage.tsx
  ui/buttons/CircleCloseIconButton.tsx
  ui/buttons/CollapseToggleButton.tsx
  ui/toasts/ToastLabel.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: addressed PR feedback
  frontend/pages/styles.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/theme/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: addressed PR feedback
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  shared/dev.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: more explicit naming and comments for invitation rework
  backend/src/inviteUser/index.ts
  e2e/helper/db.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/pages/invite.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  shared/jwt.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: make user.email/name non-nullable
  backend/src/inviteUser/index.ts
  backend/src/localtunnel.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/utils.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
  frontend/src/views/SettingsView/TeamMembersManager/ResendInviteButton.tsx
  infrastructure/hasura/migrations/default/1634203090402_alter_table_public_user_alter_column_email/down.sql
  infrastructure/hasura/migrations/default/1634203090402_alter_table_public_user_alter_column_email/up.sql
  shared/backendAnalytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: explicit cascade of updated_at is no more needed due to clientdb
  backend/src/attachments/events.ts
  backend/src/events/events.ts
  backend/src/messages/events.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/transcriptions/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: clientdb - allow sorting in ASC direction, allow indexed query by connections, not only raw data
  clientdb/entity/client.ts
  clientdb/entity/query.ts
  clientdb/entity/queryIndex.ts
  clientdb/entity/store.ts
  clientdb/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added last seen message clientdb entity
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/lastSeenMessage.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: cleaned up hasura sync and added type safety to insert and update columns list
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: fix user profile merging, update to next-auth@4 and drop email login
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/pages/login.tsx
  frontend/pages/logout.tsx
  frontend/src/authentication/AuthenticatedRoute.tsx
  frontend/src/authentication/EmailLoginButton.tsx
  frontend/src/authentication/GoogleLoginButton.tsx
  frontend/src/authentication/logout.tsx
  frontend/src/authentication/useCurrentUser.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/team/CurrentTeamIdProvider.tsx
  frontend/src/views/LoginOptionsView/index.tsx
  infrastructure/hasura/migrations/default/1634215844485_drop_verification_requests/down.sql
  infrastructure/hasura/migrations/default/1634215844485_drop_verification_requests/up.sql
  shared/jwt.ts
  shared/types.ts
  shared/urlParams.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor type fixes
  clientdb/entity/store.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added .isNew feature to topic entity
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/user.ts
  frontend/src/clientdb/utils/conditionalMemoize.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed team invitation type safe constraint
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: sort topics by last activity properly
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor mobx cleanups
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/ui/message/attachment/MessageAttachment.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: restored feature that updates last seen message
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: added not commited dev utils
  shared/dev.ts
  shared/time.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added needed fields hasura migrations
  infrastructure/hasura/metadata/databases/default/tables/public_last_seen_message.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic.yaml
  infrastructure/hasura/migrations/default/1634202938389_foo/down.sql
  infrastructure/hasura/migrations/default/1634202938389_foo/up.sql
Owners: @heikir, @Gregoor

chore: minor cleanups
  clientdb/entity/store.ts
  frontend/src/clientdb/topic.ts
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  shared/dev.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: share and simplify routes
  backend/src/inviteUser/index.ts
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/utils.ts
  frontend/pages/topic/[topicSlug].tsx
  frontend/router/RouteLink.tsx
  frontend/router/create.tsx
  frontend/router/index.ts
  frontend/router/params.ts
  frontend/router/utils.ts
  frontend/routes/create.tsx
  frontend/src/hooks/useRouteParams.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/TeamPicker.tsx
  frontend/src/layouts/UserMenu.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/index.tsx
  shared/routes/index.ts
  shared/routes/utils.ts
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: migration skip column changes for dropped table
  infrastructure/hasura/migrations/default/1634034023107_drop_team_invitation_and_extend_team_member/down.sql
  infrastructure/hasura/migrations/default/1634034023107_drop_team_invitation_and_extend_team_member/up.sql
Owners: @heikir, @Gregoor

chore: use buildx for docker builds
  infrastructure/kubernetes/docker/graphql-engine/build.sh
Owners: @christophwitzko

chore: use buildx for docker builds
  infrastructure/kubernetes/docker/graphql-engine/build.sh
Owners: @christophwitzko

feat: initial ui update - buttons + no toolbar of composer
  frontend/src/ui/message/composer/MessageContentComposer.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: initial shortcut definition for buttons
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/ui.ts
  ui/buttons/Button.tsx
  ui/keyboard/useShortcut.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add missing session identifier
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/clientdb/index.tsx
  shared/jwt.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add missing session identifier
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/clientdb/index.tsx
  shared/jwt.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use next-auth signIn event to merge profile data in
  frontend/package.json
  frontend/pages/api/auth/[...nextauth].ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use next-auth signIn event to merge profile data in
  frontend/package.json
  frontend/pages/api/auth/[...nextauth].ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: updated tooltip styles
  ui/popovers/TooltipLabel.tsx
  ui/theme/typo.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: updated recording tools
  frontend/src/ui/message/composer/Recorder/RecordButton.tsx
  frontend/src/ui/message/composer/Recorder/RecorderControls.tsx
  frontend/src/ui/message/composer/Recorder/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: make message editor always ocupy full width
  frontend/src/ui/message/messagesFeed/MessageMetaData.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

wip: prepare action buttons
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add gray line above message composer
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

wip: delegate spacing settings from richeditor to parent
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: pointer cursor always for button
  ui/buttons/Button.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: initial connection with send buttons and message composer
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor changes not commited correctly before
  ui/theme/box.ts
  ui/theme/colors.ts
  ui/theme/spacing.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
