Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: styled observer
  frontend/src/message/feed/tasks/CollapsedTasksButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add spacing between collapsed tasks buttons and mention tasks (#654)
  frontend/src/message/feed/tasks/CollapsedTasksButton.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chove: move topic_event to single table setup
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1636377769953_topic-event-move-to-single-table/down.sql
  infrastructure/hasura/migrations/default/1636377769953_topic-event-move-to-single-table/up.sql
Owners: @heikir, @Gregoor

feat: only do BE topic-events from system updates
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: create topic events from frontend
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/topicEvent.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: backend events fix
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: cleanup down migration comments
  infrastructure/hasura/migrations/default/1636377769953_topic-event-move-to-single-table/down.sql
Owners: @heikir, @Gregoor

fix: error when trying to link same slack
  backend/package.json
  backend/src/slack/app.ts
  backend/src/slack/installMetadata.ts
  frontend/src/team/SlackInstallationButton.tsx
  shared/slack/index.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: error when trying to link same slack (#657)
  backend/package.json
  backend/src/slack/app.ts
  backend/src/slack/installMetadata.ts
  frontend/src/team/SlackInstallationButton.tsx
  shared/slack/index.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: ignore topic events that are not triggered by a user
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat remove frontend tracking lib
  frontend/pages/_app.tsx
  frontend/pages/api/auth/[...nextauth].ts
  frontend/pages/logout.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/analytics/SegmentScript.tsx
  frontend/src/analytics/tracking.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move invite events to backend
  backend/src/inviteUser/index.ts
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: properly handle async function calls
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move topic events to backend
  backend/package.json
  backend/src/topics/events.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  shared/types/analytics.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: make for loop over object entries type safe
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move add due date event to backend
  backend/src/tasks/taskHandlers.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: ignore topic events that are not triggered by a user
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move account created and trial started event to backend
  backend/src/teams/events.ts
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: rename topic to request
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
  backend/src/topics/events.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: owner of newly created team has not joined the team, fixes ACA-904
  backend/src/teams/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move account added/removed user events to backend
  backend/src/teamMember/events.ts
  backend/src/users/events.ts
  frontend/src/team/TeamMembersManager/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move message events to backend
  backend/src/messages/events.ts
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move message reaction events to backend
  backend/src/events/events.ts
  backend/src/messages/events.ts
  frontend/src/message/reactions/MakeReactionButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move mark task as done event to backend
  backend/src/tasks/taskHandlers.ts
  frontend/src/message/feed/tasks/MessageTask.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove archived topic event from frontend
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: reduce flakiness
  .github/workflows/ci.yaml
  backend/start-ci.sh
  frontend/start-ci.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

ci: run clientdb tests
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: simplified clientdb data structure, add hash to db name and keep cache in the same db, also detect indexeddb disconnected
  clientdb/entity/db/adapter.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistance.ts
  clientdb/entity/persistedCache.ts
  clientdb/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: support for force full reload of data on errors or long loading
  frontend/src/clientdb/ClientDbProvider.tsx
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/index.ts
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: reuse indexeddb write sessions for way faster persistance
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: ui updates related to hard reloading
  frontend/pages/logout.tsx
  frontend/src/auth/logout.ts
  frontend/src/clientdb/message.ts
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  frontend/src/views/ErrorView/index.tsx
  shared/hooks/useWait.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Aca 898 topic events are generated from the frontend (#658)
  backend/src/topics/events.ts
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/tests/eventHandlers.spec.ts
  clientdb/tests/testUtils.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/topicEvent.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1636377769953_topic-event-move-to-single-table/down.sql
  infrastructure/hasura/migrations/default/1636377769953_topic-event-move-to-single-table/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: new request draft is unique per team member
  frontend/src/hooks/useLocalStorageState.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: prevent user assertion; don't break onboarding
  frontend/src/hooks/usePersistedState.ts
  frontend/src/message/composer/useMessageEditorManager.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid using commited transactions
  frontend/src/auth/logout.ts
  frontend/src/clientdb/indexeddb/adapter.ts
  ui/icons/default/FigmaLogo.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: new request draft is unique per team member (#660)
  frontend/src/hooks/usePersistedState.ts
  frontend/src/message/composer/useMessageEditorManager.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: reset button on the loading screen (#659)
  clientdb/entity/db/adapter.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistance.ts
  clientdb/entity/persistedCache.ts
  clientdb/index.ts
  frontend/pages/logout.tsx
  frontend/src/auth/logout.ts
  frontend/src/clientdb/ClientDbProvider.tsx
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/index.ts
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/indexeddb/adapter.ts
  frontend/src/clientdb/message.ts
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestMessagePreview.tsx
  frontend/src/views/ErrorView/index.tsx
  shared/hooks/useWait.ts
  ui/icons/default/FigmaLogo.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: show email recovery input after oauth account link error
  backend/src/app.ts
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/inviteUser/utils.ts
  frontend/pages/auth/error.tsx
  frontend/src/views/ErrorView/index.tsx
  ui/forms/TextInput.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: track initial app load on the backend and fix style errors in the event definitions
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/tracking/tracking.ts
  frontend/src/clientdb/ClientDbProvider.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: post message action requests into threads
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
