Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: prepare next app before run
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: prepare next app before run
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: use a more generic prop for RequiredSessionProvider
  frontend/pages/_app.tsx
  frontend/src/auth/RequiredSessionProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: slack home show received task messages and smaller fixes
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: slack home show received task messages and smaller fixes (#640)
  backend/src/slack/home-tab.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: tunnel sentry request to circumvent ad blockers
  frontend/next-server.js
  frontend/package.json
  frontend/pages/_app.tsx
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: removed some potential SSR leaks, added some test utils
  frontend/package.json
  frontend/src/apollo/client.tsx
  frontend/src/apollo/dateStringParseLink.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
  shared/deepMap.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor .preload fix
  shared/namedLazy.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(e2e): change isSentryStoreURL to local sentry tunnel endpoint
  e2e/helper/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(e2e): change isSentryStoreURL to local sentry tunnel endpoint
  e2e/helper/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: tunnel sentry request to circumvent ad blockers
  frontend/next-server.js
  frontend/package.json
  frontend/pages/_app.tsx
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(e2e): set NODE_ENV to production
  frontend/start-ci.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont check for ts errors on next build
  frontend/next.config.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: enable sentry only on staging or production
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: ignore NODE_ENV for dotenv config
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: also disable sentry error handler
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: cleanup test oom step
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: upload e2e test logs
  .github/workflows/ci.yaml
  backend/start-ci.sh
  frontend/start-ci.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

ci: more logging
  backend/start-ci.sh
  frontend/start-ci.sh
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

ci: wait until frontend is running
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor .preload fix
  shared/namedLazy.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: removed some potential SSR leaks, added some test utils
  frontend/package.json
  frontend/src/apollo/client.tsx
  frontend/src/apollo/dateStringParseLink.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
  shared/deepMap.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(e2e): set NODE_ENV to production
  frontend/start-ci.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: also disable sentry error handler
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: ignore NODE_ENV for dotenv config
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: enable sentry only on staging or production
  frontend/next-server.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: auto-close topic after 1 day of last activity
  backend/src/cron/autoCloseTopics.ts
  backend/src/cron/cron.ts
  backend/src/tasks/taskHandlers.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
  infrastructure/hasura/migrations/default/1636032878356_all_tasks_done_at/down.sql
  infrastructure/hasura/migrations/default/1636032878356_all_tasks_done_at/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove all tasks done at on task creation
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: remove comment
  backend/src/notifications/bodyBuilders/topicClosed.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: Aca 825 events log frontend (#621)
  .github/workflows/ci.yaml
  backend/src/messages/events.ts
  backend/src/tasks/taskHandlers.ts
  backend/start-ci.sh
  frontend/next-server.js
  frontend/package.json
  frontend/src/apollo/client.tsx
  frontend/src/apollo/dateStringParseLink.tsx
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/topicEvent.ts
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/message/feed/TopicEventFeedItem.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/TopicEventTemplate.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/start-ci.sh
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event_topic.yaml
  shared/deepMap.ts
  shared/namedLazy.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: include delayed task completion notifications
  backend/src/cron/autoArchiveOrCloseTopics.ts
  backend/src/cron/autoArchiveTopics.ts
  backend/src/cron/cron.ts
  backend/src/cron/delayedTopicRequestsDoneNotifications.ts
  backend/src/notifications/bodyBuilders/allRequestsDone.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: notify when all requests done
  backend/src/cron/delayedTopicRequestsDoneNotifications.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

hacky: scroll to task next action message and highlight it
  frontend/src/message/feed/Message.tsx
  frontend/src/topics/TopicStore.ts
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: don't notify owner if last task done by them
  backend/src/cron/delayedTopicRequestsDoneNotifications.ts
  backend/src/tasks/taskHandlers.ts
  infrastructure/hasura/migrations/default/1636098774777_alter_table_public_topic_add_column_last_task_done_by/down.sql
  infrastructure/hasura/migrations/default/1636098774777_alter_table_public_topic_add_column_last_task_done_by/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: make bottom threshold for notification window exclusive
  backend/src/cron/delayedTopicRequestsDoneNotifications.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: copy changes
  backend/src/notifications/bodyBuilders/topicClosed.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: remove last task done by on new task
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: squash migrations
  infrastructure/hasura/migrations/default/1636032878356_all_tasks_done_at/down.sql
  infrastructure/hasura/migrations/default/1636098774777_alter_table_public_topic_add_column_last_task_done_by/down.sql
  infrastructure/hasura/migrations/default/1636098774777_alter_table_public_topic_add_column_last_task_done_by/up.sql
  infrastructure/hasura/migrations/default/1636098774777_topic-all_tasks_done_at/down.sql
  infrastructure/hasura/migrations/default/1636098774777_topic-all_tasks_done_at/up.sql
Owners: @heikir, @Gregoor

feat: Aca 867 autoclosing edge cases (#643)
  backend/src/cron/autoArchiveOrCloseTopics.ts
  backend/src/cron/autoArchiveTopics.ts
  backend/src/cron/cron.ts
  backend/src/cron/delayedTopicRequestsDoneNotifications.ts
  backend/src/notifications/bodyBuilders/allRequestsDone.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/tasks/taskHandlers.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
  infrastructure/hasura/migrations/default/1636098774777_topic-all_tasks_done_at/down.sql
  infrastructure/hasura/migrations/default/1636098774777_topic-all_tasks_done_at/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add screen cover to tasks popover
  frontend/src/message/extensions/mentions/TypedMention.tsx
  frontend/src/message/feed/tasks/CollapsedTasksButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
