Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

chore: add create team test (#528)
  e2e/helper/db.ts
  e2e/team.test.ts
  frontend/src/ui/Modal/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove hardcoded localtunnel
  backend/src/localtunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add slack state secret
  .env.sample
  README.md
  backend/src/slack/app.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: add defaults
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
Owners: @christophwitzko

fix: assertion message
  backend/src/slack/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add slack state secret (#529)
  .env.sample
  README.md
  backend/src/slack/app.ts
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: add slack login button
  config/dotenv.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/authentication/SlackLoginButton.tsx
  frontend/src/views/LoginOptionsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: create entity for teamSlackInstallation
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/teamSlackInstallation.ts
  infrastructure/hasura/metadata/databases/default/tables/public_team_slack_installation.yaml
  infrastructure/hasura/migrations/default/1634578460243_add_team_slack_installation_entity_fields/up.sql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: create entity for teamSlackInstallation (#531)
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/teamSlackInstallation.ts
  infrastructure/hasura/metadata/databases/default/tables/public_team_slack_installation.yaml
  infrastructure/hasura/migrations/default/1634578460243_add_team_slack_installation_entity_fields/up.sql
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added google and slack logo
  ui/icons/logos/GoogleGLogo.tsx
  ui/icons/logos/SlackLogo.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added google logo to login button
  frontend/src/authentication/GoogleLoginButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: removed unused hasura code
  infrastructure/hasura/metadata/databases/default/tables/public_unread_messages.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
Owners: @heikir, @Gregoor

fix: fixed popover disappear on mousedown instead of after click
  ui/popovers/PopoverMenu.tsx
  ui/popovers/PopoverMenuTrigger.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: unified and simplified current team manager layer
  frontend/src/hooks/useChangeCurrentTeam.ts
  frontend/src/team/CurrentTeam.tsx
  frontend/src/team/CurrentTeamIdContext.ts
  frontend/src/team/CurrentTeamIdProvider.tsx
  frontend/src/team/useCurrentTeamId.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: created single action layout to be used for auth, selecting team etc
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use new team manager
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/message/extensions/mentions.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add support for updatable only clientdb entities
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: minor fixes to team entity
  frontend/src/clientdb/team.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use new team manager for clientdb init
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use new team manager for _app
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use new action ui for auth and invitation views
  frontend/pages/invite.tsx
  frontend/pages/login.tsx
  frontend/pages/logout.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use max width for settings page
  frontend/pages/settings.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: remove team requiring code from new request view
  frontend/pages/team/create.tsx
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make button non clickable if disabled
  ui/buttons/Button.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: removed old action layout
  frontend/src/views/WindowView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: extracted team management components so it can be used as part of onboarding as well
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/team/TeamMembersManager/ResendInviteButton.tsx
  frontend/src/team/TeamMembersManager/UserBasicInfo.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  frontend/src/team/useInviteUser.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/TeamManager/index.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: removed unused components and added missing ui config from previous commits
  ui/forms/RoundedTextInput.tsx
  ui/theme/box.ts
  ui/theme/gradients.ts
  ui/theme/index.ts
  ui/theme/spacing.ts
  ui/theme/utils/gradient.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: extracted select team as a page
  frontend/pages/team/select.tsx
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: created invite team members page
  frontend/pages/team/invite-members.tsx
  frontend/src/views/InviteTeamMembersView/InviteTeamMembersView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: create team page view
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: connect with slack as a page
  frontend/pages/team/slack.tsx
  frontend/src/views/ConnectTeamWithSlackView/ConnectTeamWithSlackView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: adjusted auto page redirect in sidebar layout
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added missing routes
  shared/routes/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: removed unused code
  frontend/src/layouts/TeamPicker.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: prevent request control buttons from hiding while typing
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

temp: only display audio recorder in editor
  frontend/src/ui/message/composer/Recorder/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make editor buttons pop up
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: new request not submit on Shift+Enter
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/NewRequestRichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: drop file hook prevents updating state after unmount
  richEditor/DropFileContext.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: Aca 788 dont hide action button in topic view (#532)
  frontend/src/ui/message/composer/Recorder/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
