Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

feat: add mobile versions of padding boxes
  ui/theme/utils/box.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: adjust typo to mobile
  ui/theme/typo.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont squeeze circle label
  ui/icons/CircleLabel.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: initial flying sidebar implementation
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/ui/layout.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont show recording tool on mobile
  frontend/src/message/composer/Tools/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid squeezing multiple topic elements
  frontend/src/message/feed/MessageMetaData.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/ui/users/AvatarList.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  richEditor/RichEditor.tsx
  richEditor/Theme.tsx
  ui/buttons/variants.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: slightly smaller buttons on mobile
  ui/theme/box.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor props update
  ui/icons/default/NotionLogo.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes & cleanups
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use getInitialProps for frontend config instead of NEXT_PUBLIC_ env vars
  .env.sample
  config/dotenv.ts
  frontend/next.config.js
  frontend/pages/_app.tsx
  frontend/pages/settings.tsx
  frontend/scripts/userback.ts
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/analytics/SegmentScript.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/kubernetes/frontend/production/default.env
  shared/backendAnalytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: run next build only during release build
  Dockerfile
  frontend/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: consumable mobile view (#605)
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/message/composer/Tools/index.tsx
  frontend/src/message/feed/MessageMetaData.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/ui/layout.tsx
  frontend/src/ui/users/AvatarList.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
  richEditor/RichEditor.tsx
  richEditor/Theme.tsx
  ui/buttons/variants.ts
  ui/icons/CircleLabel.tsx
  ui/icons/default/NotionLogo.tsx
  ui/keyboard/Shortcut.tsx
  ui/responsive.ts
  ui/theme/box.ts
  ui/theme/typo.ts
  ui/theme/utils/box.ts
  ui/theme/utils/font.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: fix sentry source maps upload
  .github/workflows/ci.yaml
  Dockerfile
  frontend/next.config.js
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: type errors
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: initialize sentry only once
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: add SENTRY_AUTH_TOKEN to docker build args
  scripts/build-and-push.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

style: capitalize acronyms
  frontend/pages/_app.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/analytics/SegmentScript.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: run next build only during release build
  Dockerfile
  frontend/package.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: type errors
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: add SENTRY_AUTH_TOKEN to docker build args
  scripts/build-and-push.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

style: capitalize acronyms
  frontend/pages/_app.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/analytics/SegmentScript.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: fix sentry source maps upload
  .github/workflows/ci.yaml
  Dockerfile
  frontend/next.config.js
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: initialize sentry only once
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use getInitialProps for frontend config instead of NEXT_PUBLIC_ env vars
  .env.sample
  config/dotenv.ts
  frontend/next.config.js
  frontend/pages/_app.tsx
  frontend/pages/settings.tsx
  frontend/scripts/userback.ts
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/analytics/SegmentScript.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/kubernetes/frontend/production/default.env
  shared/backendAnalytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: docker build copies wrong directory
  Dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: update hasura cli
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: docker build copies wrong directory round 2
  Dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: docker build copies wrong directory 🤦‍♂️
  Dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: identify user team on team change
  backend/src/users/events.ts
  shared/backendAnalytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: move task creation analytics to backend
  backend/src/tasks/taskHandlers.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: identify user team on login
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add topic create and close as backend events
  backend/src/events/events.ts
  backend/src/topics/events.ts
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: Move key mixpanel events to backend (#609)
  backend/src/events/events.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: update hasura cli
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: better message tools toolbar ui in popover
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/message/attachment/MessageAttachment.tsx
  frontend/src/message/attachment/MessageImageAttachment.tsx
  frontend/src/message/composer/Tools/RecordingInProgressManager.tsx
  frontend/src/message/composer/Tools/index.tsx
  frontend/src/message/extensions/emoji.tsx
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/MessageLikeContent.tsx
  frontend/src/message/feed/MessageMetaData.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/message/reactions/MessageReactions/MessageReaction.tsx
  frontend/src/team/TeamMembersManager/UserBasicInfo.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
  ui/buttons/Button.tsx
  ui/forms/FieldWithLabel.tsx
  ui/forms/OptionsDropdown/DropdownItem.tsx
  ui/theme/box.ts
  ui/theme/spacing.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  frontend/src/message/feed/MessageLikeContent.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: better message tools toolbar ui in popover (#610)
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/message/attachment/MessageAttachment.tsx
  frontend/src/message/attachment/MessageImageAttachment.tsx
  frontend/src/message/composer/Tools/RecordingInProgressManager.tsx
  frontend/src/message/composer/Tools/index.tsx
  frontend/src/message/extensions/emoji.tsx
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/MessageLikeContent.tsx
  frontend/src/message/feed/MessageMetaData.tsx
  frontend/src/message/feed/tasks/MessageTask.tsx
  frontend/src/message/feed/tasks/MessageTasks.tsx
  frontend/src/message/reactions/MessageReactions/MessageReaction.tsx
  frontend/src/team/TeamMembersManager/UserBasicInfo.tsx
  frontend/src/team/TeamMembersManager/index.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
  ui/buttons/Button.tsx
  ui/forms/FieldWithLabel.tsx
  ui/forms/OptionsDropdown/DropdownItem.tsx
  ui/theme/box.ts
  ui/theme/spacing.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: wrong type
  frontend/src/clientdb/lastSeenMessage.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: mention type label util
  shared/types/mention.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: removed not needed spacing styles
  frontend/src/message/feed/MessageLikeContent.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
