Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

test(task): update tests to UI changes
  e2e/message.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Slack-Request): prevent adding channel users as team members
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: task due date test
  frontend/src/clientdb/tests/task.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Slack-Request): prevent adding channel users as team members (#737)
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  frontend/src/clientdb/tests/task.spec.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(tracking): remove unnecessary email params, track invite deletions, use correct userId when tracking removing users
  backend/src/inviteUser/index.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/teamMember/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(topic): add not found message
  frontend/src/views/RequestView/NotFound.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(tracking): remove unnecessary email params, track invite deletions, use correct userId when tracking removing users
  backend/src/inviteUser/index.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/teamMember/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(topic): add not found message
  frontend/src/views/RequestView/NotFound.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: duplicate requests (#732)
  frontend/pages/topic/[topicSlug]/duplicate.tsx
  frontend/pages/topic/[topicSlug]/index.tsx
  frontend/src/hooks/useRouteParams.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/TopicOrNewRequestPage.tsx
  shared/routes/index.ts
  shared/routes/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: make entire label area clickable in popover menus
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(task): stop multiple notifications for same task
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
Owners: @heikir, @Gregoor

feat: new button variants
  ui/buttons/Button.tsx
  ui/buttons/variants.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: more buttonish ui for next actions in topic
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avatar logo instead of icon next to event indications
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/tasks/OwnTaskCompletionButton.tsx
  frontend/src/utils/AcapelaAvatar.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/TopicEventTemplate.tsx
  ui/theme/box.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Slack-Message-Request): don't show msg text
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/request-modal/index.tsx
  infrastructure/hasura/migrations/default/1637672359495_alter_table_public_topic_slack_message_add_column_is_excluding_content/down.sql
  infrastructure/hasura/migrations/default/1637672359495_alter_table_public_topic_slack_message_add_column_is_excluding_content/up.sql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: back button in settings
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: allow copy pasting content with mentions
  richEditor/autocomplete/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow rich editor to extend to all avaliable page height using flexbox instead of fixed max-height
  frontend/src/animations/layout.tsx
  frontend/src/message/composer/MessageContentComposer.tsx
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed scrolling issues
  frontend/src/animations/layout.tsx
  frontend/src/message/composer/MessageContentComposer.tsx
  frontend/styles/global.ts
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: allow copy pasting content with mentions (#742)
  richEditor/autocomplete/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

Aca 966 usability fixes (#740)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/tasks/OwnTaskCompletionButton.tsx
  frontend/src/utils/AcapelaAvatar.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/TopicEventTemplate.tsx
  frontend/src/views/SettingsView/index.tsx
  ui/buttons/Button.tsx
  ui/buttons/variants.ts
  ui/popovers/PopoverMenu.tsx
  ui/theme/box.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(clientdb): stop cached computed disposal timeout when re-observed
  clientdb/entity/utils/biddableTimeout.ts
  clientdb/entity/utils/cachedComputedWithoutArgs.ts
  clientdb/tests/lazyComputed.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow rich editor to extend to all avaliable page height using flexbox instead of fixed max-height (#743)
  frontend/src/animations/layout.tsx
  frontend/src/message/composer/MessageContentComposer.tsx
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/styles/global.ts
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use z-index for fullscreen preview to avoid being covered by any element with 1+ z-index
  frontend/src/message/attachment/MessageImageAttachment.tsx
  frontend/src/ui/Modal/ScreenCover.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(Topic-Event): upsert owner as topic member
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: use z-index for fullscreen preview to avoid being covered by any element with 1+ z-index (#745)
  frontend/src/message/attachment/MessageImageAttachment.tsx
  frontend/src/ui/Modal/ScreenCover.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: remove kustomize lint check
  .github/workflows/kubernetes.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(deploy): install kustomize via npm
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  package.json
  scripts/deploy.sh
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Slack-Message): prepend slack mentions in message
  backend/src/slack/md/parser.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

ci(deploy): set kustomize cmd correctly
  .github/workflows/deploy.yaml
  scripts/deploy.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(deploy): set kustomize cmd correctly
  .github/workflows/deploy.yaml
  scripts/deploy.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(deploy): install kustomize via npm
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  package.json
  scripts/deploy.sh
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: remove kustomize lint check
  .github/workflows/kubernetes.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(deps): update yarn to 3.1.0
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci(deploy): overwrite preinstalled kustomize
  .github/workflows/deploy.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(clientdb): feedbacked and timer fakings
  clientdb/entity/utils/biddableTimeout.ts
  clientdb/entity/utils/cachedComputedWithoutArgs.ts
  clientdb/tests/lazyComputed.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(deps): update yarn to 3.1.0
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
