Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: configure sentry correctly again
  .env.sample
  backend/src/index.ts
  frontend/next-server.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/message/display/types/TextMessageContent.tsx
  shared/sentry.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: update color palette for mentions
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: supply sentry DSN like other vars
  frontend/next.config.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(revert): supply sentry DSN like other vars
  frontend/next.config.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint again
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: update color palette for mentions (#564)
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use SENTRY_DSN env var in frontend too
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use SENTRY_DSN env var in frontend too
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: updated at index in db for all missing tables
  infrastructure/hasura/migrations/default/1634889129443_indexes_for_updated_at_columns/down.sql
  infrastructure/hasura/migrations/default/1634889129443_indexes_for_updated_at_columns/up.sql
Owners: @heikir, @Gregoor

feat: updated at index in db for all missing tables (#566)
  infrastructure/hasura/migrations/default/1634889129443_indexes_for_updated_at_columns/down.sql
  infrastructure/hasura/migrations/default/1634889129443_indexes_for_updated_at_columns/up.sql
Owners: @heikir, @Gregoor

feat: add slack login button
  config/dotenv.ts
  frontend/pages/api/auth/[...nextauth].ts
  frontend/src/authentication/SlackLoginButton.tsx
  frontend/src/views/LoginOptionsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

docs: add NEXTAUTH_URL local tunnel comment to .env.sample
  .env.sample
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: guard playwright page reading with network idle waiting
  e2e/helper/base-test.ts
  e2e/helper/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add missing client id and secret to frontend env
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
Owners: @christophwitzko

ci: add .next build cache
  .github/workflows/ci.yaml
  Dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix next backend sentry
  backend/src/notifications/sendNotification.ts
  frontend/next-server.js
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: sentry environment var declaration locations
  .env.sample
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: use sentry default dsn in .env.sample
  .env.sample
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: don't use prod/stage sentry for dev/testing
  .env.sample
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: prune analytics events
  shared/types/analytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: merge all env vars in next config
  frontend/next.config.js
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: add slack logo to login button
  frontend/src/authentication/SlackLoginButton.tsx
  frontend/src/views/LoginOptionsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: prune analytics events
  shared/types/analytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add slack logo to login button
  frontend/src/authentication/SlackLoginButton.tsx
  frontend/src/views/LoginOptionsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: merge all env vars in next config
  frontend/next.config.js
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: skip waiting for staging releases
  scripts/wait-for-release.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: skip waiting for staging releases
  scripts/wait-for-release.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: add .next build cache
  .github/workflows/ci.yaml
  Dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: extract topic header
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: open a prefilled topic modal for the slack command
  backend/src/slack/commands.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/setup.ts
  backend/src/slack/shortcuts.ts
  backend/src/slack/views.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: rename and (un)archive topic options
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: display archived topics in search
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestSearchResults.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add icons to topic menu
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  ui/icons/default/Lock.tsx
  ui/icons/default/Unlock.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: highlight options when no pending tasks
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Manage Topic Rename and Topic Archiving (#573)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestSearchResults.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/icons/default/Lock.tsx
  ui/icons/default/Unlock.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: prepare for having one, global shared layout animations wrapper
  frontend/pages/_app.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: eliminate null renders on topic view that would prevent layout animations between pages
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
  richEditor/content/RichContentRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make scrollable messages always occupy all avaliable height even if no needed to avoid layout animatiosn cutoff
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: create shared util for layout animations to have layoutId consistant on different pages
  frontend/src/animations/layout.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
