Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: add tracking to due date added by slack
  backend/src/slack/actions.ts
  backend/src/tasks/messageTaskDueDateHandler.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: comment typo
  backend/src/tasks/messageTaskDueDateHandler.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: Add topic due date events (#678)
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/tasks/messageTaskDueDateHandler.ts
  frontend/package.json
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/messageTaskDueDate.tsx
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/topicEvent.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_message_task_due_date.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_topic_event.yaml
  infrastructure/hasura/migrations/default/1636623334421_topic-event-due-date/down.sql
  infrastructure/hasura/migrations/default/1636623334421_topic-event-due-date/up.sql
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: inital slack markdown generator from tiptap json
  backend/src/notifications/sendNotification.ts
  backend/src/slack/slackMarkdown/generator.test.ts
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add anchor links to messages in their created_at tag
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/MessageLikeContent.tsx
  frontend/src/message/feed/MessageMetaData.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: scroll to message in next action
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: scroll to mesasge in topic events
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make scroll instant when scrolling to bottom
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add liveness probe to containers
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

style: fix formating
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

fix: topic event fix
  frontend/src/clientdb/topicEvent.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: topic event fix (#683)
  frontend/src/clientdb/topicEvent.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Scroll to message - v1 (#682)
  frontend/src/message/feed/Message.tsx
  frontend/src/message/feed/MessageLikeContent.tsx
  frontend/src/message/feed/MessageMetaData.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/events/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: deps failing
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(slack-markdown-generator): add list and mention rendering
  backend/src/notifications/sendNotification.ts
  backend/src/slack/slackMarkdown/generator.test.ts
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: use generateMarkdownFromTipTapJson for slack integration
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/slackMarkdown/generator.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

docs: add link to google cloud monitoring
  infrastructure/kubernetes/README.md
Owners: @christophwitzko

feat: remove members counter in team select view
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: remove members counter in team select view (#684)
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: always scroll to head of last unread message (even if last message)
  frontend/src/message/feed/Message.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont recreate tiptap editor for displayer if content reference changes. update content instead
  richEditor/content/RichContentRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont recreate tiptap editor for displayer if content reference changes. update content instead (#685)
  richEditor/content/RichContentRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add app recovery buttons to any error view
  frontend/pages/_app.tsx
  frontend/src/clientdb/ClientDbProvider.tsx
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/recoveryCounter.ts
  frontend/src/utils/AppRecoveryButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make recovery buttons default and dont use them on 404 page
  frontend/pages/404.tsx
  frontend/pages/_app.tsx
  frontend/src/clientdb/ClientDbProvider.tsx
  frontend/src/views/ErrorView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: always scroll to head of last unread message (even if last message) (#686)
  frontend/src/message/feed/Message.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: show error recovery buttons on any app error (#687)
  frontend/pages/404.tsx
  frontend/src/clientdb/ClientDbProvider.tsx
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/recoveryCounter.ts
  frontend/src/utils/AppRecoveryButtons.tsx
  frontend/src/views/ErrorView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: properly display participants preview layout depending on participants count
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: properly display participants preview layout depending on participants count (#688)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: move sentry tunnel to backend
  backend/src/app.ts
  backend/src/sentry-tunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add caddy as resverse proxy
  .env.sample
  Caddyfile
  docker-compose.ci.yaml
  docker-compose.yaml
  frontend/next-server.js
  frontend/next.config.js
  frontend/package.json
  frontend/src/apollo/client.tsx
  frontend/start-ci.sh
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: group mentions
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/user.ts
  frontend/src/clientdb/userGroup.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/hooks/useUpdateMessageTasks.ts
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/SettingsView/UserGroupsSettings.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_user_group.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user_group_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1636834860329_user_group-and-user_group_member/down.sql
  infrastructure/hasura/migrations/default/1636834860329_user_group-and-user_group_member/up.sql
  richEditor/autocomplete/component.tsx
  richEditor/autocomplete/index.tsx
  shared/editor/mentions.ts
  shared/types/editor.ts
  ui/buttons/TextButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: speed up shortcut look-up
  ui/keyboard/shortcutBase.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed existing clientdb tests
  clientdb/tests/lazyComputed.spec.ts
  clientdb/tests/query.spec.ts
  clientdb/tests/testUtils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: prepare better mocking for clientdb tests
  clientdb/entity/definition.ts
  clientdb/tests/connections.spec.ts
  clientdb/tests/eventHandlers.spec.ts
  clientdb/tests/lazyComputed.spec.ts
  clientdb/tests/misc.spec.ts
  clientdb/tests/observing.spec.ts
  clientdb/tests/query.spec.ts
  clientdb/tests/simpleQuery.spec.ts
  clientdb/tests/testUtils.ts
  clientdb/tests/utils/createTestDb.ts
  clientdb/tests/utils/entities.ts
  clientdb/tests/utils/index.ts
  clientdb/tests/utils/mobx.ts
  clientdb/tests/utils/persistance.ts
  clientdb/tests/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: feedbacked
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  frontend/src/clientdb/message.ts
  frontend/src/message/extensions/emoji.tsx
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/views/SettingsView/UserGroupsSettings.tsx
  frontend/src/views/SettingsView/UserPicker.tsx
  richEditor/autocomplete/component.tsx
  richEditor/autocomplete/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: feedbacked group buttons
  frontend/src/views/SettingsView/UserGroupsSettings.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: simplify tracking call type
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: track resent invitations properly
  backend/src/inviteUser/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: track signups for invited users and fix current_team_id for slack invites
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: added persistance clientdb tests
  clientdb/entity/persistance.ts
  clientdb/entity/sync.ts
  clientdb/tests/persistance.spec.ts
  clientdb/tests/utils/createTestDb.ts
  clientdb/tests/utils/entities.ts
  clientdb/tests/utils/persistance.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
