Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

chore: move topic closure messages together
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/blocks/topicClosed.ts
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: archive closed topics automatically after 24 hours
  backend/src/cron/autoArchiveTopics.ts
  backend/src/cron/cron.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: handle topic closed automatically in UI
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use addBusinessDays
  backend/src/cron/autoArchiveTopics.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: close topic when all tasks are done
  backend/src/events/events.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: display next required action (#579)
  frontend/src/topics/TopicStore.ts
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/buttons/TextButton.tsx
  ui/icons/default/AcapelaWave.tsx
  ui/icons/default/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: upload source maps to sentry for frontend
  frontend/next.config.js
  frontend/package.json
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: improve NextAction based on Omar's feedback in #579
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  ui/buttons/TextButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb start pull sync of all entities at once
  clientdb/entity/client.ts
  clientdb/index.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use query instead of subscription for initial sync pull - ~2-3x faster reply time
  clientdb/entity/sync.ts
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: upload source maps to sentry for frontend
  frontend/next.config.js
  frontend/package.json
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: use query instead of subscription for initial team id pull
  frontend/src/team/CurrentTeam.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: batch grapql fetch requests in 10ms windows
  frontend/src/apollo/client.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: remove editable hooks from read-only rich content displayer
  richEditor/content/RichContentRenderer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: no delay for loading screen + css powered fade out
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/ui/presence.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: css powered modal background
  frontend/src/ui/Modal/ScreenCover.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: reuse same component for new topic or id topic page
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/pages/topic/[topicSlug].tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: extract node-and-yarn github action
  .github/actions/node-and-yarn/action.yaml
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: optimized entities data and removed nested sub-queries that are re-created on each use
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: improve NextAction based on Omar's feedback in #579 (#586)
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  ui/buttons/TextButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added lazyComputed for better clientdb caching that is also memory-leak resistant
  clientdb/entity/query.ts
  clientdb/entity/utils/biddableTimeout.ts
  clientdb/entity/utils/computedArray.ts
  clientdb/entity/utils/lazyComputed.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: do not compute all the data for archived topics in request feed
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: debounce search input
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make emoji index lazy loaded for messages composer
  frontend/src/message/extensions/emoji.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use addBusinessDays
  backend/src/cron/autoArchiveTopics.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: archive closed topics automatically after 24 hours
  backend/src/cron/autoArchiveTopics.ts
  backend/src/cron/cron.ts
  infrastructure/hasura/metadata/cron_triggers.yaml
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: optimized rich content parser a bit
  richEditor/content/helper.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use cache for topic util
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: do not sort all topics together as each group has sorting rules anyway
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: make message snippets lazy rendered
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  ui/animations.tsx
  ui/performance/LazyRender.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor ui tweaks
  frontend/pages/_app.tsx
  frontend/src/authentication/request.ts
  frontend/src/ui/Modal/index.tsx
  frontend/src/utils/confirm.tsx
  frontend/src/utils/prompt.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: minor ui tweaks
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  frontend/pages/_app.tsx
  frontend/src/team/CurrentTeam.tsx
  frontend/src/utils/confirm.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: gql name duplicates
  frontend/src/team/CurrentTeam.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add different closed and archived notices
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: optimizations of performance (#587)
  clientdb/entity/client.ts
  clientdb/entity/query.ts
  clientdb/entity/sync.ts
  clientdb/entity/utils/biddableTimeout.ts
  clientdb/entity/utils/computedArray.ts
  clientdb/entity/utils/lazyComputed.ts
  clientdb/index.ts
  frontend/pages/_app.tsx
  frontend/pages/index.tsx
  frontend/pages/new.tsx
  frontend/pages/topic/[topicSlug].tsx
  frontend/src/apollo/client.tsx
  frontend/src/authentication/request.ts
  frontend/src/clientdb/LoadingScreen.tsx
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestContentSnippet.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/utils.ts
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/message/extensions/emoji.tsx
  frontend/src/team/CurrentTeam.tsx
  frontend/src/ui/Modal/ScreenCover.tsx
  frontend/src/ui/Modal/index.tsx
  frontend/src/ui/presence.ts
  frontend/src/utils/confirm.tsx
  frontend/src/utils/prompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  richEditor/content/RichContentRenderer.tsx
  richEditor/content/helper.ts
  ui/animations.tsx
  ui/performance/LazyRender.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: handle archive estimate properly
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: always use Mod+Enter for submit
  frontend/src/views/NewRequestView/NewRequest.tsx
  ui/keyboard/describeShortcut.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: next actions align better
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
