Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

fix: remove circular dep
  frontend/src/clientdb/user.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: remove more circular deps
  frontend/src/clientdb/team.ts
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/views/SettingsView/UserGroupsSettings.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: undo message events
  frontend/src/clientdb/message.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: speed up shortcut look-up (#691)
  ui/keyboard/shortcutBase.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: sync tests
  clientdb/entity/sync.ts
  clientdb/entity/utils/pushQueue.ts
  clientdb/tests/sync.spec.ts
  clientdb/tests/utils/createTestDb.ts
  shared/promises.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: dynamically import dev dependencies (#680)
  backend/src/localtunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: simplify tracking call type
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: track resent invitations properly
  backend/src/inviteUser/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: track signups for invited users and fix current_team_id for slack invites
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: expose backend healthz endpoint
  Caddyfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add hasura check to healthz endpoint
  backend/src/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add healthz endpoint to frontend
  Caddyfile
  docker-compose.yaml
  frontend/pages/api/healthz.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(backend): use correct hasura endpoint
  backend/src/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: change frontend port and change healthcheck
  Dockerfile
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: various more minor tests
  clientdb/entity/search.ts
  clientdb/package.json
  clientdb/tests/query.spec.ts
  clientdb/tests/search.spec.ts
  clientdb/tests/simpleQuery.spec.ts
  clientdb/tests/utils/entities.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: mark own task as done
  e2e/message.test.ts
  frontend/package.json
  frontend/src/message/feed/tasks/MessageTask.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: build caddy docker image
  caddy.dockerfile
  monorepo.dockerfile
  scripts/build-and-push.sh
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: expose caddy image port
  Caddyfile
  caddy.dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add caddy to k8s deployment
  infrastructure/kubernetes/frontend/base/deployment.yaml
  infrastructure/kubernetes/frontend/image_name
  scripts/deploy.sh
Owners: @christophwitzko, @heikir, @pie6k, @omarduarte, @Gregoor

style: kustomize fmt
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

feat: tests for client db core (#693)
  .github/workflows/ci.yaml
  clientdb/entity/definition.ts
  clientdb/entity/persistance.ts
  clientdb/entity/search.ts
  clientdb/entity/sync.ts
  clientdb/entity/utils/pushQueue.ts
  clientdb/package.json
  clientdb/tests/connections.spec.ts
  clientdb/tests/eventHandlers.spec.ts
  clientdb/tests/lazyComputed.spec.ts
  clientdb/tests/misc.spec.ts
  clientdb/tests/observing.spec.ts
  clientdb/tests/persistance.spec.ts
  clientdb/tests/query.spec.ts
  clientdb/tests/search.spec.ts
  clientdb/tests/simpleQuery.spec.ts
  clientdb/tests/sync.spec.ts
  clientdb/tests/utils/createTestDb.ts
  clientdb/tests/utils/entities.ts
  clientdb/tests/utils/index.ts
  clientdb/tests/utils/mobx.ts
  clientdb/tests/utils/persistance.ts
  clientdb/tests/utils/sync.ts
  shared/promises.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

e2e: can close topic test
  e2e/message.test.ts
  e2e/topic.test.ts
  frontend/src/message/feed/Message.tsx
  frontend/src/ui/options/OptionsButton.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  ui/buttons/CloseIconButton.tsx
  ui/buttons/IconButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

infra: delete topic also deletes topic_events
  infrastructure/hasura/migrations/default/1637056562175_set_fk_public_topic_event_topic_id/down.sql
  infrastructure/hasura/migrations/default/1637056562175_set_fk_public_topic_event_topic_id/up.sql
Owners: @heikir, @Gregoor

e2e: rename topic
  e2e/topic.test.ts
  frontend/src/utils/prompt.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

e2e: app dev page
  e2e/helper/app-dev-page.ts
  e2e/message.test.ts
  e2e/topic.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

e2e: refactor waiting for topic page
  e2e/helper/app-dev-page.ts
  e2e/message.test.ts
  e2e/topic.test.ts
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

e2e: archive topic
  e2e/helper/app-dev-page.ts
  e2e/topic.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: rename sentry-tunnel to sentryTunnel
  backend/src/app.ts
  backend/src/sentryTunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

e2e: sidebar movements
  e2e/helper/app-dev-page.ts
  e2e/topic.test.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
  ui/popovers/PopoverMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

e2e: moves recieved to sent for self done task
  e2e/message.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: change frontend port and change healthcheck
  Dockerfile
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: expose backend healthz endpoint
  Caddyfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add caddy to k8s deployment
  infrastructure/kubernetes/frontend/base/deployment.yaml
  infrastructure/kubernetes/frontend/image_name
  scripts/deploy.sh
Owners: @christophwitzko, @heikir, @pie6k, @omarduarte, @Gregoor

chore: rename sentry-tunnel to sentryTunnel
  backend/src/app.ts
  backend/src/sentryTunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

refactor: move sentry tunnel to backend
  backend/src/app.ts
  backend/src/sentry-tunnel.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(backend): use correct hasura endpoint
  backend/src/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add healthz endpoint to frontend
  Caddyfile
  docker-compose.yaml
  frontend/pages/api/healthz.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

style: kustomize fmt
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

chore: expose caddy image port
  Caddyfile
  caddy.dockerfile
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add hasura check to healthz endpoint
  backend/src/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte
