Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: Aca 787 prevent new request page from submitting (#533)
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/NewRequestView/NewRequestRichEditor.tsx
  richEditor/DropFileContext.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add submit button to new request page
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: self-review fixes
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add submit button to new request page (#534)
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow to disable popovermenu trigger
  ui/popovers/PopoverMenuTrigger.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow to edit task done status from message task
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: chevron 1px off
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Aca 789 able to complete task from task avatar (#535)
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  ui/popovers/PopoverMenuTrigger.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow waiting for clientdb entity sync. Needed for create team > wait for sync > change team to new one
  clientdb/entity/entity.ts
  clientdb/entity/sync.ts
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added text button for actions like Skip this step
  ui/buttons/TextButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: updated user menu to use new pages
  frontend/src/layouts/UserMenu.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: incorrectly was re-initializing current team subscription
  frontend/src/team/CurrentTeam.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: updated setup flow pages to properly lead setup flow
  frontend/src/clientdb/team.ts
  frontend/src/ui/ButtonWithAlternative.tsx
  frontend/src/views/ConnectTeamWithSlackView/ConnectTeamWithSlackView.tsx
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
  frontend/src/views/InviteTeamMembersView/InviteTeamMembersView.tsx
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: dont require team members to be able to create new request
  frontend/src/views/NewRequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: use full version of team manager in settings page
  frontend/src/views/SettingsView/TeamManager/index.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  clientdb/entity/sync.ts
  frontend/pages/team/slack.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
  frontend/src/team/CurrentTeam.tsx
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/ui/ButtonWithAlternative.tsx
  frontend/src/views/ConnectTeamWithSlackView/ConnectTeamWithSlackView.tsx
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
  frontend/src/views/InviteTeamMembersView/InviteTeamMembersView.tsx
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
  frontend/src/views/SettingsView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: properly handle not logged in user
  frontend/pages/_app.tsx
  frontend/pages/auth/RequiredSessionProvider.tsx
  frontend/pages/login.tsx
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add participants list to topic with msgs
  frontend/src/ui/users/AvatarList.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/icons/CircleLabel.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add participants list to topic with msgs (#536)
  frontend/src/ui/users/AvatarList.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  ui/icons/CircleLabel.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: auth provider was in pages folder
  frontend/pages/_app.tsx
  frontend/src/auth/RequiredSessionProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: addressed pr feedback
  clientdb/entity/client.ts
  clientdb/entity/sync.ts
  frontend/pages/logout.tsx
  frontend/src/layouts/FocusedActionLayout/FocusedActionLayout.tsx
  frontend/src/layouts/SidebarLayout/useAppRedirects.tsx
  frontend/src/team/CurrentTeam.tsx
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
  frontend/src/views/SelectTeamView/SelectTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed e2e tests
  e2e/team.test.ts
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add existing-user invite and task creation notifications
  backend/src/events/events.ts
  backend/src/inviteUser/index.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/utils.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add existing-user invite and task creation notifications (#538)
  backend/src/events/events.ts
  backend/src/inviteUser/index.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/utils.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: error out on eslint warnings
  backend/src/notifications/sendNotification.ts
  package.json
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: error out on eslint warnings (#539)
  backend/src/notifications/sendNotification.ts
  package.json
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: add unicode/emoji slug support
  infrastructure/hasura/migrations/default/1634130876567_alter_table_public_topic_add_check_constraint_slug/down.sql
  infrastructure/hasura/migrations/default/1634130876567_alter_table_public_topic_add_check_constraint_slug/up.sql
  shared/package.json
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @Gregoor, @pie6k, @omarduarte

feat: lazy load emojis.json
  backend/src/slack/createTopicForSlackUsers.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

test(shared): add slugify tests
  shared/package.json
  shared/slugify.test.ts
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: run shared package tests
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use different emoji npm package
  shared/package.json
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: await slugify promise
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

ci: run shared package tests
  .github/workflows/ci.yaml
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: lazy load emojis.json
  backend/src/slack/createTopicForSlackUsers.ts
  frontend/src/views/NewRequestView/NewRequest.tsx
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

test(shared): add slugify tests
  shared/package.json
  shared/slugify.test.ts
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add unicode/emoji slug support
  infrastructure/hasura/migrations/default/1634130876567_alter_table_public_topic_add_check_constraint_slug/down.sql
  infrastructure/hasura/migrations/default/1634130876567_alter_table_public_topic_add_check_constraint_slug/up.sql
  shared/package.json
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @Gregoor, @pie6k, @omarduarte

feat: use different emoji npm package
  shared/package.json
  shared/slugify.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: await slugify promise
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add basic slack markdown parser
  shared/package.json
  shared/slackMarkdown/parser.test.ts
  shared/slackMarkdown/parser.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(shared): add ts-jest
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
