Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

fix: cleanup dedupe slug functions
  infrastructure/hasura/migrations/default/1633603983337_update_dedupe_topic_slug/down.sql
  infrastructure/hasura/migrations/default/1633603983337_update_dedupe_topic_slug/up.sql
  infrastructure/hasura/migrations/default/1633604060324_drop_unused_dedupe_slug_functions/down.sql
  infrastructure/hasura/migrations/default/1633604060324_drop_unused_dedupe_slug_functions/up.sql
Owners: @heikir, @Gregoor

feat: use 3rd party lib for hash
  docker-compose.yaml
  shared/hash.ts
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

Update README.md
  backend/README.md
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

docs: update and simplify docs
  GETTING-STARTED.md
  README.md
  backend/README.md
  frontend/README.md
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: added assert get by id
  clientdb/entity/client.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: enable mobx warnings for useage outside of observers
  frontend/src/clientdb/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid warning for internal clientdb observable access outside of observer
  clientdb/entity/sync.ts
  shared/mobxUtils.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: improve debug experience for mobx observable
  clientdb/entity/entity.ts
  clientdb/entity/utils/entityCache.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove mobx config conflict
  shared/sharedState.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add HOC that wraps together styled and observer
  shared/component.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: temp scotch-tape over a race condition
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix missing pieces of entities definitions
  frontend/src/clientdb/messageReaction.ts
  frontend/src/clientdb/task.ts
  frontend/src/clientdb/team.ts
  frontend/src/clientdb/teamInvitation.ts
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added hasItems util to query
  clientdb/entity/query.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

wip: convert useAssertCurrentUser to use UserEntity and adjust components
  frontend/pages/invites/[inviteCode].tsx
  frontend/pages/login.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/authentication/useCurrentUser.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestParticipants.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/layouts/UserMenu.tsx
  frontend/src/team/CurrentTeamIdProvider.tsx
  frontend/src/ui/message/attachment/MessageAttachment.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/ui/message/reactions/MakeReactionButton.tsx
  frontend/src/ui/message/reactions/MessageReactions/MessageReaction.tsx
  frontend/src/ui/message/reactions/MessageReactions/MessageReactionTooltip.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix team creation (missing slug)
  frontend/src/layouts/TeamPicker.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: make observers components when it is needed
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/ui/message/messagesFeed/MessageLikeContent.tsx
  frontend/src/ui/message/messagesFeed/MessageMetaData.tsx
  frontend/src/ui/message/reactions/MessageReactions/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: replace fragments useage with entities
  frontend/src/gql/reactions.ts
  frontend/src/topics/useIsCurrentUserTopicManager.ts
  frontend/src/topics/utils.ts
  frontend/src/ui/message/reactions/MessageReactions/groupReactionsByEmoji.ts
  frontend/src/ui/users/AvatarList.tsx
  frontend/src/ui/users/UserAvatar.tsx
  frontend/src/ui/users/UserBasicInfo.tsx
  frontend/src/utils/getTeamInvitationDisplayName.ts
  frontend/src/utils/getUserDisplayName.ts
  frontend/src/views/RequestView/TopicWithMessages/ManageTopic/index.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicHeader.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: avoid mobx warning of modifying mobx store outside of action
  frontend/src/ui/message/reply/ReplyButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove withFragments
  frontend/src/gql/utils/index.ts
  frontend/src/gql/utils/withFragments.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: allow passing id of team when creating it
  infrastructure/hasura/metadata/databases/default/tables/public_team.yaml
Owners: @heikir, @Gregoor

chore: fix imports
  frontend/src/ui/message/attachment/MessageAttachment.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/ui/message/messagesFeed/MessageLikeContent.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/ui/users/AvatarList.tsx
  frontend/src/views/RequestView/TopicWithMessages/ScrollableMessages.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: styledObserver added
  frontend/src/ui/message/messagesFeed/MessageMetaData.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTasks.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: styledObserver added
  frontend/src/ui/users/UserAvatar.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicSummary.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  frontend/src/ui/message/messagesFeed/tasks/MessageTasks.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: modify resolvable promise api to allow rejecting it
  frontend/src/clientdb/indexeddb/adapter.ts
  shared/promises.ts
  ui/createPromiseUI.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: ensure clientdb sync push is executed in the same order as original operations happened
  clientdb/entity/persistance.ts
  clientdb/entity/sync.ts
  clientdb/entity/utils/pushQueue.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups
  clientdb/entity/db/adapter.ts
  clientdb/entity/definition.ts
  clientdb/entity/initializePersistance.ts
  frontend/src/clientdb/indexeddb/adapter.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb - automatic version update (#480)
  clientdb/entity/client.ts
  clientdb/entity/db/adapter.ts
  clientdb/entity/definition.ts
  clientdb/entity/initializePersistance.ts
  clientdb/entity/persistance.ts
  clientdb/index.ts
  docker-compose.yaml
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/indexeddb/adapter.ts
  shared/document.ts
  shared/hash.ts
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: undo all pending tasks if any in queue fails
  clientdb/entity/utils/pushQueue.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: minor cleanups
  clientdb/entity/utils/pushQueue.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: move task management to frontend
  backend/src/messages/events.ts
  backend/src/messages/mentionHandlers.ts
  frontend/src/clientdb/task.ts
  frontend/src/gql/messages.ts
  frontend/src/gql/tasks.ts
  frontend/src/hooks/useLocalStorageState.ts
  frontend/src/message/content-and-task-drafts.ts
  frontend/src/message/extensions/mentions.tsx
  frontend/src/ui/message/composer/EditMessageEditor.tsx
  frontend/src/ui/message/messagesFeed/Message.tsx
  frontend/src/ui/message/messagesFeed/tasks/MessageTask.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_task.yaml
  shared/array.ts
  shared/types/editor.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

docs: remove IDE section from README
  README.md
  docs/gql1.png
  docs/gql2.png
  docs/styled-components.png
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: typecheck
  backend/src/messages/events.ts
  frontend/src/ui/message/messagesFeed/tasks/TaskStatusIcon.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: minor type fixes
  frontend/src/clientdb/topic.ts
  frontend/src/message/extensions/mentions.tsx
  frontend/src/ui/message/messagesFeed/MessageMetaData.tsx
  frontend/src/ui/message/messagesFeed/tasks/TaskStatusIcon.tsx
  frontend/src/ui/message/reactions/MessageReactions/MessageReaction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added support for custom index for clientdb
  clientdb/entity/client.ts
  clientdb/entity/definition.ts
  clientdb/entity/store.ts
  clientdb/entity/uniqueIndex.ts
  frontend/src/clientdb/topic.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: switched ui and slack to use slug instead of id in url
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  frontend/pages/[topicSlug].tsx
  frontend/router/index.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: changed /[topic-slug] to /topic/[topic-slug]
  backend/src/slack/commands.ts
  backend/src/slack/shortcuts.ts
  frontend/pages/topic/[topicSlug].tsx
  frontend/router/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: avoid mobx warnings
  clientdb/entity/uniqueIndex.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: avoid slug collision on creating new topic
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: automatically update url if slug changes while topic is opened
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
