Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

refactor(slack): md utils and consistent relative paths
  backend/src/inviteUser/index.ts
  backend/src/notifications/bodyBuilders/allRequestsDone.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/hasuraActions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/md/generator.test.ts
  backend/src/slack/md/generator.ts
  backend/src/slack/md/parser.test.ts
  backend/src/slack/md/parser.ts
  backend/src/slack/md/utils.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/setup.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

refactor(slack): md utils and consistent relative paths (#721)
  backend/src/inviteUser/index.ts
  backend/src/notifications/bodyBuilders/allRequestsDone.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/notifications/sendNotification.ts
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/hasuraActions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/md/generator.test.ts
  backend/src/slack/md/generator.ts
  backend/src/slack/md/parser.test.ts
  backend/src/slack/md/parser.ts
  backend/src/slack/md/utils.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/setup.ts
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(slack): show due dates in live message and home tab
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/md/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: complete scroll animation
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add topic owner to topic members
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fit: lint
  ui/buttons/Button.tsx
  ui/popovers/tooltipProps.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove message preview from done button
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Archived topics in sidebar v0.5 (recent archived only) (#719)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
  frontend/src/layouts/SidebarLayout/SidebarContent.tsx
  frontend/src/layouts/SidebarLayout/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(slack): show due dates in live message and home tab (#722)
  backend/src/slack/LiveTopicMessage.ts
  backend/src/slack/actions.ts
  backend/src/slack/home-tab.ts
  backend/src/slack/md/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: update tooltips to support shortcuts hint (#717)
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  shared/hooks/useElementAttribute.ts
  ui/buttons/Button.tsx
  ui/popovers/TooltipLabel.tsx
  ui/popovers/TooltipsRenderer.tsx
  ui/popovers/tooltipProps.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(slack): capture original error for sentry
  backend/src/slack/app.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: move request feed group compoents into different files
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/prepareTopicsGroups.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestSearchResults.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(Sidebar): move archived groups builder
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/useArchivedGroups.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(email): improve type organization
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/notifications/sendNotification.ts
  shared/email.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: remove unused function
  backend/src/notifications/sendNotification.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: add env var to k8s and change clean up packages
  .env.sample
  backend/package.json
  backend/src/testSupport/testSendgrid.ts
  config/dotenv.ts
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: switch sendgrid with customerio for email sending and use fancy template for invitation emails
  .env.sample
  backend/package.json
  backend/src/inviteUser/index.ts
  backend/src/notifications/sendNotification.ts
  shared/email.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: add new env variable for customer.io api key
  .env.sample
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fix type errors that came from notification service refactor
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/notifications/bodyBuilders/allRequestsDone.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(backend): use designed invite on the recover route and use a richer invitation on Slack
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/slack/md/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: add env var to k8s and change clean up packages
  .env.sample
  backend/package.json
  backend/src/testSupport/testSendgrid.ts
  config/dotenv.ts
  infrastructure/kubernetes/api/production/default.env
  infrastructure/kubernetes/api/staging/default.env
  infrastructure/kubernetes/frontend/production/default.env
  infrastructure/kubernetes/frontend/staging/default.env
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: remove unused function
  backend/src/notifications/sendNotification.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: switch sendgrid with customerio for email sending and use fancy template for invitation emails
  .env.sample
  backend/package.json
  backend/src/inviteUser/index.ts
  backend/src/notifications/sendNotification.ts
  shared/email.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: fix type errors that came from notification service refactor
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/notifications/bodyBuilders/allRequestsDone.ts
  backend/src/notifications/bodyBuilders/topicClosed.ts
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: add new env variable for customer.io api key
  .env.sample
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(email): improve type organization
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/notifications/sendNotification.ts
  shared/email.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(backend): use designed invite on the recover route and use a richer invitation on Slack
  backend/src/inviteUser/index.ts
  backend/src/inviteUser/recoverLogin.ts
  backend/src/slack/md/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat(Sidebar): clamp request title to 2 lines
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Sidebar): show all archived topics (not only recent)
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/useArchivedGroups.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

wip(Sidebar): start using react-window for sidebar
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Sidebar): add variable row heights and cache
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(Sidebar): wrong archive date grouping
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/useArchivedGroups.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Sidebar): variable height row improvements
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore(Sidebar): add comments to feed groups
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(tracking): remove duplicated signup tracking calls and add Slack integration delete tracking
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/teams/events.ts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(tracking): remove duplicated signup tracking calls and add Slack integration delete tracking
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  backend/src/teams/events.ts
  backend/src/users/events.ts
  frontend/pages/api/auth/[...nextauth].ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix(Sidebar): e2e tests
  e2e/topic.test.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat(Sidebar): Show full archive history (#724)
  e2e/topic.test.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/prepareTopicsGroups.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/useArchivedGroups.ts
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestSearchResults.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestsGroup.tsx
  frontend/src/layouts/SidebarLayout/RequestFeed/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(Sidebar): use full width of request item
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestItem.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix(Sidebar): show archived when route changes
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestFeedGroups/RequestFeedGroups.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
