Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: add new request types to slack modal
  backend/src/slack/app.ts
  backend/src/slack/shortcuts.ts
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
  shared/types/mention.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: remove pre-push hook
  .husky/pre-push
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add new request types to slack modal (#554)
  backend/src/slack/app.ts
  backend/src/slack/shortcuts.ts
  frontend/src/message/extensions/mentions/MentionTypePicker.tsx
  shared/types/mention.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: group options and use slack-block-builder
  backend/package.json
  backend/src/slack/shortcuts.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: group options and use slack-block-builder
  backend/package.json
  backend/src/slack/shortcuts.ts
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add mentions to message.content for slack requests
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: correct last sync date for first removes check sync
  clientdb/entity/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: dont check access if there are no new items
  frontend/src/clientdb/utils/sync.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add colors to mentions
  frontend/src/message/extensions/mentions/TypedMention.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove unneeded tags
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add colors to mentions (#558)
  frontend/src/message/extensions/mentions/TypedMention.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move close/open topic to header
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: Aca 816 move close request button to upper right (#559)
  frontend/src/views/RequestView/TopicWithMessages/NewMessageButtons.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

dev: warn about mobx read access only during component rendering
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

dev: throw instead of warning
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: fixed incorrect non observers
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
  frontend/src/ui/users/AvatarList.tsx
  ui/media/Transcript/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove pre-push hook
  .husky/pre-push
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: don't use unnecessary computed
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add mentions to message.content for slack requests
  backend/src/slack/createTopicForSlackUsers.ts
  backend/src/slack/slackMarkdown/parser.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: scroll to first unread message initially (#553)
  frontend/src/message/feed/Message.tsx
  frontend/src/topics/TopicStore.ts
  frontend/src/views/RequestView/TopicWithMessages/ScrollToBottomMonitor.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: created in-house emoji lists optimized for our use cases
  shared/emoji/categories.json
  shared/emoji/search.json
  shared/emoji/slugs.json
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use in house emoji list in utils
  backend/src/slack/slackMarkdown/parser.ts
  shared/object.ts
  shared/slugify.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: properly sort frequently used emoji
  ui/EmojiPicker/frequentlyUsed.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add keyboard and search support to emoji picker
  frontend/src/message/reactions/MakeReactionButton.tsx
  frontend/src/message/reactions/MessageReactions/MessageReaction.tsx
  frontend/src/message/reactions/MessageReactions/MessageReactionTooltip.tsx
  richEditor/EmojiButton.tsx
  ui/EmojiPicker/EmojiPickerWindow.tsx
  ui/EmojiPicker/EmojiPickerWindowInner.tsx
  ui/EmojiPicker/emojiList.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: removed debug ui
  frontend/src/message/feed/Message.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: comments
  ui/EmojiPicker/EmojiPickerWindowInner.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: lint fixes
  backend/src/slack/slackMarkdown/parser.ts
  frontend/src/message/reactions/MakeReactionButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: ts types fixes
  frontend/src/message/reactions/MakeReactionButton.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new emoji picker (#561)
  backend/src/slack/slackMarkdown/parser.ts
  frontend/src/message/feed/Message.tsx
  frontend/src/message/reactions/MakeReactionButton.tsx
  frontend/src/message/reactions/MessageReactions/MessageReaction.tsx
  frontend/src/message/reactions/MessageReactions/MessageReactionTooltip.tsx
  richEditor/EmojiButton.tsx
  shared/emoji/categories.json
  shared/emoji/search.json
  shared/emoji/slugs.json
  shared/object.ts
  shared/slugify.ts
  ui/EmojiPicker/EmojiPickerWindow.tsx
  ui/EmojiPicker/EmojiPickerWindowInner.tsx
  ui/EmojiPicker/emojiList.ts
  ui/EmojiPicker/frequentlyUsed.ts
  ui/package.json
  yarn.lock
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: page title for topic page
  frontend/pages/clientdb.tsx
  frontend/pages/login.tsx
  frontend/src/views/RequestView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: new ui for error pages
  frontend/pages/404.tsx
  frontend/pages/auth/error.tsx
  frontend/src/views/ErrorView/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

dev: warn about mobx read access only during component rendering (#560)
  frontend/src/clientdb/index.tsx
  frontend/src/clientdb/utils/devIncorrectUsageWarnings.ts
  frontend/src/ui/users/AvatarList.tsx
  ui/media/Transcript/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: animate new request page
  frontend/src/views/NewRequestView/NewRequest.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove comment
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: observer in components
  ui/SelectList/index.tsx
  ui/media/Transcript/TranscriptSpeakerPart.tsx
  ui/media/Transcript/TranscriptWord.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: animate new request page (#562)
  frontend/src/views/NewRequestView/NewRequest.tsx
  richEditor/autocomplete/AutocompletePickerPopover.tsx
  ui/SelectList/index.tsx
  ui/media/Transcript/TranscriptSpeakerPart.tsx
  ui/media/Transcript/TranscriptWord.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: configure sentry correctly again
  .env.sample
  backend/src/index.ts
  frontend/next-server.js
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/src/analytics/AnalyticsProvider.tsx
  frontend/src/message/display/types/TextMessageContent.tsx
  shared/sentry.ts
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

chore: add sentry reporting test
  e2e/helper/base-test.ts
  e2e/helper/utils.ts
  e2e/index.test.ts
  frontend/pages/obscure-error-test-page.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: add sentry reporting test
  e2e/helper/base-test.ts
  e2e/helper/utils.ts
  e2e/index.test.ts
  frontend/pages/obscure-error-test-page.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
