Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: render events in message feed
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/message/feed/TopicEvent.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: move feed items to props
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add auto-topic closing event
  frontend/src/clientdb/topicEvent.ts
  frontend/src/clientdb/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: try to update topic slack event throws
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: remove unneded topic closure messages
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: move archive prompt to next actions
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: use same template for nextactions and topic events
  frontend/src/message/feed/TopicEvent.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicEventTemplate.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: capture slack message exceptions
  backend/src/messages/events.ts
  backend/src/tasks/taskHandlers.ts
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: show slack link button for insufficient user scopes
  backend/src/slack/hasuraActions.ts
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/SlackSettings.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/hasura/metadata/actions.graphql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: show slack link button for insufficient user scopes (#620)
  backend/src/slack/hasuraActions.ts
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/SlackSettings.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/hasura/metadata/actions.graphql
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: archived text
  frontend/src/clientdb/topicEventBodyRenderers.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: reduce settings page re-layouting
  README.md
  backend/package.json
  backend/src/slack/hasuraActions.ts
  backend/src/slack/install.ts
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
  frontend/src/clientdb/teamMemberSlack.ts
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/SlackSettings.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/hasura/metadata/actions.graphql
  infrastructure/hasura/metadata/databases/default/tables/public_team_member_slack.yaml
  infrastructure/hasura/migrations/default/1635852980011_add_team_member_slack_scopes_function/down.sql
  infrastructure/hasura/migrations/default/1635852980011_add_team_member_slack_scopes_function/up.sql
  shared/package.json
  shared/slack/.gitignore
  shared/slack/clone-manifest-cli.ts
  shared/slack/index.ts
  shared/slack/manifest.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

fix: reduce settings page re-layouting (#622)
  README.md
  backend/package.json
  backend/src/slack/hasuraActions.ts
  backend/src/slack/install.ts
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  backend/src/slack/utils.ts
  frontend/src/clientdb/teamMemberSlack.ts
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/SlackSettings.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/hasura/metadata/actions.graphql
  infrastructure/hasura/metadata/databases/default/tables/public_team_member_slack.yaml
  infrastructure/hasura/migrations/default/1635852980011_add_team_member_slack_scopes_function/down.sql
  infrastructure/hasura/migrations/default/1635852980011_add_team_member_slack_scopes_function/up.sql
  shared/package.json
  shared/slack/.gitignore
  shared/slack/clone-manifest-cli.ts
  shared/slack/index.ts
  shared/slack/manifest.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

feat: add names to events
  frontend/src/clientdb/topicEventBodyRenderers.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: just testing
  README.md
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: always send invite notification for existing users
  backend/src/inviteUser/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: bump playwright version
  e2e/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: bump playwright version (#626)
  e2e/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: always send invite notification for existing users (#625)
  backend/src/inviteUser/index.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: compute feed items
  frontend/src/clientdb/topicEvent.ts
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow next auth error page for logged-out users
  frontend/pages/_app.tsx
  frontend/src/auth/RequiredSessionProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: display custom next auth error messages
  frontend/pages/auth/error.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: proper sentry exception capturing
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: change copy on the new request page
  frontend/src/views/NewRequestView/CreateRequestPrompt.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: add enter shortcut for creating a team
  frontend/src/views/CreateTeamView/CreateTeamView.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: display custom next auth error messages
  frontend/pages/auth/error.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: allow next auth error page for logged-out users
  frontend/pages/_app.tsx
  frontend/src/auth/RequiredSessionProvider.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

topic event topic fragment included
  frontend/src/clientdb/topicEvent.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: copy changes on the conversation page and message feed
  frontend/src/message/composer/MessageContentComposer.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/RequestView/TopicWithMessages/NextAction.tsx
  frontend/src/views/RequestView/TopicWithMessages/TopicClosureMessage.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

mix with topic events
  frontend/src/clientdb/topic.ts
  frontend/src/clientdb/topicEvent.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: render events in screen
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: copy changes on the settings page and add tean owner tag
  frontend/src/team/SlackInstallationButton.tsx
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  frontend/src/team/TeamMembersManager/TeamMemberBasicInfo.tsx
  frontend/src/views/SettingsView/NotificationSettings.tsx
  frontend/src/views/SettingsView/TeamManager/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: update has_joined for newly created users too
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
Owners: @heikir, @Gregoor

fix: remove duplicated shortcut tip
  frontend/src/views/NewRequestView/NewRequest.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: update has_joined for newly created users too (#629)
  infrastructure/hasura/metadata/databases/default/tables/public_user.yaml
Owners: @heikir, @Gregoor

mix events and messages
  frontend/src/clientdb/topicEvent.ts
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/views/RequestView/TopicWithMessages/index.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

dumb render
  frontend/src/message/feed/MessagesFeed.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: slack modal and copy fixes
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/request-modal/tryOpenRequestModal.ts
  frontend/src/views/SettingsView/SlackSettings.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

renderers
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/message/feed/events/TopicEventBodyRenderers.tsx
  frontend/src/message/feed/events/TopicEventFeedItem.tsx
  frontend/src/message/feed/events/TopicEventTemplate.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: add secondary color and change unread message counter color to be more visible
  frontend/src/layouts/SidebarLayout/RequestFeed/RequestItem.tsx
  ui/icons/CircleLabel.tsx
  ui/theme/colors.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor
