Repository acapela/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @heikir, @pie6k, @omarduarte, @Gregoor, @christophwitzko

CODEOWNERS:

* @heikir @pie6k @omarduarte @Gregoor

/infrastructure/kubernetes @christophwitzko
/infrastructure/hasura @heikir @Gregoor
/backend @heikir @christophwitzko @Gregoor @pie6k @omarduarte
/frontend @heikir @pie6k @omarduarte @Gregoor

chore: rename to SuggestedAction
  frontend/src/clientdb/tests/topic.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb last seen message spec
  frontend/src/clientdb/tests/last-seen-message.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb message task due date test
  clientdb/entity/definition.ts
  frontend/src/clientdb/tests/message-task-due-date.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: ack request modal before topic creation
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: add topic owner to topic members
  backend/src/topics/events.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: import
  backend/src/slack/request-modal/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: import no2
  backend/src/slack/request-modal/index.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: e2e race condition
  e2e/helper/app-dev-page.ts
  e2e/message.test.ts
  e2e/topic.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: add group indicator and fix click
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/views/SettingsView/UserGroupsSettings.tsx
  frontend/src/views/SettingsView/UserPicker.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: improve readiness and liveness probe healthchecks
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

fix: ack request modal before topic creation (#702)
  backend/src/slack/request-modal/index.tsx
  backend/src/slack/utils.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: group mentions (#690)
  backend/src/slack/request-modal/createTopicForSlackUsers.ts
  frontend/src/clientdb/createNewClientDb.tsx
  frontend/src/clientdb/message.ts
  frontend/src/clientdb/userGroup.ts
  frontend/src/clientdb/utils/sync.ts
  frontend/src/hooks/useUpdateMessageTasks.ts
  frontend/src/message/extensions/emoji.tsx
  frontend/src/message/extensions/mentions/MentionPicker.tsx
  frontend/src/message/feed/EditMessageEditor.tsx
  frontend/src/views/NewRequestView/NewRequest.tsx
  frontend/src/views/RequestView/TopicWithMessages/CreateNewMessageEditor.tsx
  frontend/src/views/SettingsView/UserGroupsSettings.tsx
  frontend/src/views/SettingsView/UserPicker.tsx
  frontend/src/views/SettingsView/index.tsx
  infrastructure/hasura/metadata/databases/default/tables/public_user_group.yaml
  infrastructure/hasura/metadata/databases/default/tables/public_user_group_member.yaml
  infrastructure/hasura/metadata/databases/default/tables/tables.yaml
  infrastructure/hasura/migrations/default/1636834860329_user_group-and-user_group_member/down.sql
  infrastructure/hasura/migrations/default/1636834860329_user_group-and-user_group_member/up.sql
  richEditor/autocomplete/component.tsx
  richEditor/autocomplete/index.tsx
  shared/editor/mentions.ts
  shared/types/editor.ts
  ui/buttons/TextButton.tsx
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: improve readiness and liveness probe healthchecks
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

chore: remove successThreshold from livenessProbe
  infrastructure/kubernetes/api/base/deployment.yaml
  infrastructure/kubernetes/frontend/base/deployment.yaml
Owners: @christophwitzko

feat: update next and enable swc
  frontend/babel.config.js
  frontend/next.config.js
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: fix frontend tests and use next/jest
  frontend/jest.config.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb topic event reactions tests
  frontend/src/clientdb/tests/topic.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb team tests
  frontend/src/clientdb/tests/team.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb team member test
  frontend/src/clientdb/tests/team-member.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added e2e auto replaying test runner
  e2e/cli/dev.ts
  e2e/package.json
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: added e2e search tests
  e2e/helper/app-dev-page.ts
  e2e/search.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: fix frontend tests and use next/jest
  frontend/jest.config.js
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: update next and enable swc
  frontend/babel.config.js
  frontend/next.config.js
  frontend/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb topic event test
  frontend/src/clientdb/tests/topic-event.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: clientdb test topic member
  frontend/src/clientdb/tests/topic-member.spec.ts
  frontend/src/clientdb/topicMember.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

refactor: rename to camel case style
  frontend/src/clientdb/tests/lastSeenMessage.spec.ts
  frontend/src/clientdb/tests/messageReactions.spec.ts
  frontend/src/clientdb/tests/messageTaskDueDate.spec.ts
  frontend/src/clientdb/tests/teamMember.spec.ts
  frontend/src/clientdb/tests/topicEvent.spec.ts
  frontend/src/clientdb/tests/topicMember.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: only track task event when user is present
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

feat: e2e search + e2e dev runner (#705)
  e2e/cli/dev.ts
  e2e/helper/app-dev-page.ts
  e2e/package.json
  e2e/search.test.ts
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: fixed ts resolution
  package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: only track task event when user is present (#706)
  backend/src/tasks/taskHandlers.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

fix: ts types fixes
  clientdb/entity/entity.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: hashing
  frontend/src/clientdb/tests/message.spec.ts
  shared/hash.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: e2e replying to message
  e2e/message.test.ts
  frontend/src/message/feed/MessagesFeed.tsx
  frontend/src/message/reply/ReplyingToMessage.tsx
  richEditor/RichEditor.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

fix: show video attachments again
  frontend/src/message/display/MessageMedia.tsx
  ui/media/VideoPlayer.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

feat: add tracking for team and user slack installations and fix shortcut bug on team invitation page
  backend/src/slack/app.ts
  frontend/src/team/TeamMembersManager/InviteMemberForm.tsx
  shared/backendAnalytics.ts
  shared/types/analytics.ts
Owners: @heikir, @christophwitzko, @Gregoor, @pie6k, @omarduarte

chore: remove fnv1a
  clientdb/jest.config.js
  shared/package.json
  yarn.lock
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: reenable other tests
  e2e/message.test.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: remove unnneeded test
  frontend/src/clientdb/tests/messageTaskDueDate.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

test: due date setting
  e2e/message.test.ts
  frontend/src/tasks/TaskDueDateSetter.tsx
Owners: @heikir, @pie6k, @omarduarte, @Gregoor

chore: destroy db after each test
  frontend/jest.config.js
  frontend/src/clientdb/tests/attachment.spec.ts
  frontend/src/clientdb/tests/lastSeenMessage.spec.ts
  frontend/src/clientdb/tests/message.spec.ts
  frontend/src/clientdb/tests/messageReactions.spec.ts
  frontend/src/clientdb/tests/messageTaskDueDate.spec.ts
  frontend/src/clientdb/tests/task.spec.ts
  frontend/src/clientdb/tests/team.spec.ts
  frontend/src/clientdb/tests/teamMember.spec.ts
  frontend/src/clientdb/tests/topic.spec.ts
  frontend/src/clientdb/tests/topicEvent.spec.ts
  frontend/src/clientdb/tests/topicMember.spec.ts
Owners: @heikir, @pie6k, @omarduarte, @Gregoor
